# データサイエンス100本ノック（構造化データ加工編） - SQL

## はじめに
- データベースはPostgreSQL12です
- 初めに以下のセルを実行してください
- セルに %%sql と記載することでSQLを発行することができます
- jupyterからはdescribeコマンドによるテーブル構造の確認ができないため、テーブル構造を確認する場合はlimitを指定したSELECTなどで代用してください
- 使い慣れたSQLクライアントを使っても問題ありません（接続情報は以下の通り）
  - IPアドレス：Docker Desktopの場合はlocalhost、Docker toolboxの場合は192.168.99.100
  - Port:5432
  - database名: dsdojo_db
  - ユーザ名：padawan
  - パスワード:padawan12345
- 大量出力を行うとJupyterが固まることがあるため、出力件数は制限することを推奨します（設問にも出力件数を記載）
    - 結果確認のために表示させる量を適切にコントロールし、作業を軽快にすすめる技術もデータ加工には求められます
- 大量結果が出力された場合は、ファイルが重くなり以降開けなくなることもあります
    - その場合、作業結果は消えますがファイルをGitHubから取り直してください
    - vimエディタなどで大量出力範囲を削除することもできます
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
%load_ext sql
import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)

# pd.read_sql用のコネクタ
conn = psycopg2.connect(**pgconfig)
# pd.to_sql用のcreate engine
engine = create_engine(dsl)
# MagicコマンドでSQLを書くための設定
%sql $dsl

'Connected: padawan@dsdojo_db'

# 使い方
- セルの先頭に%%sqlと記載し、２行目以降にSQLを記述することでJupyterからPostgreSQLに対しSQLを実行できます。

In [ ]:
%%sql
select 'このように実行できます' as sample

# データ加工100本ノック

---
> S-001: レシート明細テーブル（receipt）から全項目を10件抽出し、どのようなデータを保有しているか目視で確認せよ。

In [2]:
%%sql
SELECT * FROM receipt LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20181103, 1541203200, 'S14006', 112, 1, 'CS006214000001', 'P070305012', 1, 158),
 (20181118, 1542499200, 'S13008', 1132, 2, 'CS008415000097', 'P070701017', 1, 81),
 (20170712, 1499817600, 'S14028', 1102, 1, 'CS028414000014', 'P060101005', 1, 170),
 (20190205, 1549324800, 'S14042', 1132, 1, 'ZZ000000000000', 'P050301001', 1, 25),
 (20180821, 1534809600, 'S14025', 1102, 2, 'CS025415000050', 'P060102007', 1, 90),
 (20190605, 1559692800, 'S13003', 1112, 1, 'CS003515000195', 'P050102002', 1, 138),
 (20181205, 1543968000, 'S14024', 1102, 2, 'CS024514000042', 'P080101005', 1, 30),
 (20190922, 1569110400, 'S14040', 1102, 1, 'CS040415000178', 'P070501004', 1, 128),
 (20170504, 1493856000, 'S13020', 1112, 2, 'ZZ000000000000', 'P071302010', 1, 770),
 (20191010, 1570665600, 'S14027', 1102, 1, 'CS027514000015', 'P071101003', 1, 680)]

---
> S-002: レシート明細のテーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。

In [6]:
%%sql
SELECT sales_ymd, customer_id, product_cd, amount FROM receipt LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20181103, 'CS006214000001', 'P070305012', 158),
 (20181118, 'CS008415000097', 'P070701017', 81),
 (20170712, 'CS028414000014', 'P060101005', 170),
 (20190205, 'ZZ000000000000', 'P050301001', 25),
 (20180821, 'CS025415000050', 'P060102007', 90),
 (20190605, 'CS003515000195', 'P050102002', 138),
 (20181205, 'CS024514000042', 'P080101005', 30),
 (20190922, 'CS040415000178', 'P070501004', 128),
 (20170504, 'ZZ000000000000', 'P071302010', 770),
 (20191010, 'CS027514000015', 'P071101003', 680)]

---
> S-003: レシート明細のテーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

In [610]:
%%sql
SELECT sales_ymd AS sales_date, customer_id, product_cd, amount FROM receipt LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20181103, 'CS006214000001', 'P070305012', 158),
 (20181118, 'CS008415000097', 'P070701017', 81),
 (20170712, 'CS028414000014', 'P060101005', 170),
 (20190205, 'ZZ000000000000', 'P050301001', 25),
 (20180821, 'CS025415000050', 'P060102007', 90),
 (20190605, 'CS003515000195', 'P050102002', 138),
 (20181205, 'CS024514000042', 'P080101005', 30),
 (20190922, 'CS040415000178', 'P070501004', 128),
 (20170504, 'ZZ000000000000', 'P071302010', 770),
 (20191010, 'CS027514000015', 'P071101003', 680)]

---
> S-004: レシート明細のテーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ
> - 顧客ID（customer_id）が"CS018205000001"

In [11]:
%%sql
SELECT sales_ymd, customer_id, product_cd, amount FROM receipt
WHERE customer_id = 'CS018205000001'

 * postgresql://padawan:***@db:5432/dsdojo_db
12 rows affected.

[(20180911, 'CS018205000001', 'P071401012', 2200),
 (20180414, 'CS018205000001', 'P060104007', 600),
 (20170614, 'CS018205000001', 'P050206001', 990),
 (20170614, 'CS018205000001', 'P060702015', 108),
 (20190216, 'CS018205000001', 'P071005024', 102),
 (20180414, 'CS018205000001', 'P071101002', 278),
 (20190226, 'CS018205000001', 'P070902035', 168),
 (20190924, 'CS018205000001', 'P060805001', 495),
 (20190226, 'CS018205000001', 'P071401020', 2200),
 (20180911, 'CS018205000001', 'P071401005', 1100),
 (20190216, 'CS018205000001', 'P040101002', 218),
 (20190924, 'CS018205000001', 'P091503001', 280)]

---
> S-005: レシート明細のテーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [2]:
%%sql
SELECT sales_ymd , customer_id, product_cd, amount FROM receipt
WHERE customer_id = 'CS018205000001' AND amount >= 1000

 * postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[(20180911, 'CS018205000001', 'P071401012', 2200),
 (20190226, 'CS018205000001', 'P071401020', 2200),
 (20180911, 'CS018205000001', 'P071401005', 1100)]

---
> S-006: レシート明細テーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [3]:
%%sql
SELECT sales_ymd, customer_id, product_cd, quantity, amount FROM receipt
WHERE customer_id = 'CS018205000001' AND (amount >= 1000 OR quantity >=5)

 * postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[(20180911, 'CS018205000001', 'P071401012', 1, 2200),
 (20180414, 'CS018205000001', 'P060104007', 6, 600),
 (20170614, 'CS018205000001', 'P050206001', 5, 990),
 (20190226, 'CS018205000001', 'P071401020', 1, 2200),
 (20180911, 'CS018205000001', 'P071401005', 1, 1100)]

---
> S-007: レシート明細のテーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [15]:
%%sql
SELECT sales_ymd, customer_id, product_cd, amount FROM receipt
WHERE customer_id = 'CS018205000001' AND amount BETWEEN 1000 AND 2000

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(20180911, 'CS018205000001', 'P071401005', 1100)]

---
> S-008: レシート明細テーブル（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [17]:
%%sql
SELECT sales_ymd, customer_id, product_cd, amount FROM receipt
WHERE customer_id = 'CS018205000001' AND product_cd <> 'P071401019'

 * postgresql://padawan:***@db:5432/dsdojo_db
12 rows affected.

[(20180911, 'CS018205000001', 'P071401012', 2200),
 (20180414, 'CS018205000001', 'P060104007', 600),
 (20170614, 'CS018205000001', 'P050206001', 990),
 (20170614, 'CS018205000001', 'P060702015', 108),
 (20190216, 'CS018205000001', 'P071005024', 102),
 (20180414, 'CS018205000001', 'P071101002', 278),
 (20190226, 'CS018205000001', 'P070902035', 168),
 (20190924, 'CS018205000001', 'P060805001', 495),
 (20190226, 'CS018205000001', 'P071401020', 2200),
 (20180911, 'CS018205000001', 'P071401005', 1100),
 (20190216, 'CS018205000001', 'P040101002', 218),
 (20190924, 'CS018205000001', 'P091503001', 280)]

---
> S-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`select * from store where not (prefecture_cd = '13' or floor_area > 900)`

In [5]:
%%sql
SELECT * FROM store where NOT prefecture_cd = '13' AND NOT floor_area > 900

 * postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('S14046', '北山田店', '14', '神奈川県', '神奈川県横浜市都筑区北山田一丁目', 'カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ', '045-123-4049', Decimal('139.5916'), Decimal('35.56189'), Decimal('831.0')),
 ('S14011', '日吉本町店', '14', '神奈川県', '神奈川県横浜市港北区日吉本町四丁目', 'カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ', '045-123-4033', Decimal('139.6316'), Decimal('35.54655'), Decimal('890.0')),
 ('S12013', '習志野店', '12', '千葉県', '千葉県習志野市芝園一丁目', 'チバケンナラシノシシバゾノイッチョウメ', '047-123-4002', Decimal('140.022'), Decimal('35.66122'), Decimal('808.0'))]

---
> S-010: 店舗テーブル（store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件だけ表示せよ。

In [613]:
%%sql
SELECT * FROM store
WHERE store_cd ~ '^S14.*'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('S14010', '菊名店', '14', '神奈川県', '神奈川県横浜市港北区菊名一丁目', 'カナガワケンヨコハマシコウホククキクナイッチョウメ', '045-123-4032', Decimal('139.6326'), Decimal('35.50049'), Decimal('1732.0')),
 ('S14033', '阿久和店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4043', Decimal('139.4961'), Decimal('35.45918'), Decimal('1495.0')),
 ('S14036', '相模原中央店', '14', '神奈川県', '神奈川県相模原市中央二丁目', 'カナガワケンサガミハラシチュウオウニチョウメ', '042-123-4045', Decimal('139.3716'), Decimal('35.57327'), Decimal('1679.0')),
 ('S14040', '長津田店', '14', '神奈川県', '神奈川県横浜市緑区長津田みなみ台五丁目', 'カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ', '045-123-4046', Decimal('139.4994'), Decimal('35.52398'), Decimal('1548.0')),
 ('S14050', '阿久和西店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4053', Decimal('139.4961'), Decimal('35.45918'), Decimal('1830.0')),
 ('S14028', '二ツ橋店', '14', '神奈川県', '神奈川県横浜市瀬谷区二ツ橋町', 'カナガワケンヨコハマシセヤクフタツバシチョウ', '045-123-4042', Decimal('139.4963'), Decimal('35.46304'), Decimal('1574.0')),
 ('S14012', '本牧和田店', '14', '神奈川県', '神奈川県横浜市中区本牧和田', 'カナガワケンヨコハマシナカクホンモクワダ', '045-123-4034', Decimal('139.6582'), Decimal('35.42156'), Decimal('1341.0')),
 ('S14046', '北山田店', '14', '神奈川県', '神奈川県横浜市都筑区北山田一丁目', 'カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ', '045-123-4049', Decimal('139.5916'), Decimal('35.56189'), Decimal('831.0')),
 ('S14022', '逗子店', '14', '神奈川県', '神奈川県逗子市逗子一丁目', 'カナガワケンズシシズシイッチョウメ', '046-123-4036', Decimal('139.5789'), Decimal('35.29642'), Decimal('1838.0')),
 ('S14011', '日吉本町店', '14', '神奈川県', '神奈川県横浜市港北区日吉本町四丁目', 'カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ', '045-123-4033', Decimal('139.6316'), Decimal('35.54655'), Decimal('890.0'))]

---
> S-011: 顧客テーブル（customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件だけ表示せよ。

In [614]:
%%sql
SELECT * FROM customer
WHERE customer_id ~ '.*1$'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS037613000071', '六角 雅彦', '9', datetime.date(1952, 4, 1), 66, '136-0076', '東京都江東区南砂**********', 'S13037', '20150414', '0-00000000-0'),
 ('CS028811000001', '堀井 かおり', '1', datetime.date(1933, 3, 27), 86, '245-0016', '神奈川県横浜市泉区和泉町**********', 'S14028', '20160115', '0-00000000-0'),
 ('CS040412000191', '川井 郁恵', '1', datetime.date(1977, 1, 5), 42, '226-0021', '神奈川県横浜市緑区北八朔町**********', 'S14040', '20151101', '1-20091025-4'),
 ('CS028314000011', '小菅 あおい', '1', datetime.date(1983, 11, 26), 35, '246-0038', '神奈川県横浜市瀬谷区宮沢**********', 'S14028', '20151123', '1-20080426-5'),
 ('CS039212000051', '藤島 恵梨香', '1', datetime.date(1997, 2, 3), 22, '166-0001', '東京都杉並区阿佐谷北**********', 'S13039', '20171121', '1-20100215-4'),
 ('CS015412000111', '松居 奈月', '1', datetime.date(1972, 10, 4), 46, '136-0071', '東京都江東区亀戸**********', 'S13015', '20150629', '0-00000000-0'),
 ('CS004702000041', '野島 洋', '0', datetime.date(1943, 8, 24), 75, '176-0022', '東京都練馬区向山**********', 'S13004', '20170218', '0-00000000-0'),
 ('CS041515000001', '栗田 千夏', '1', datetime.date(1967, 1, 2), 52, '206-0001', '東京都多摩市和田**********', 'S13041', '20160422', 'E-20100803-F'),
 ('CS029313000221', '北条 ひかり', '1', datetime.date(1987, 6, 19), 31, '279-0011', '千葉県浦安市美浜**********', 'S12029', '20180810', '0-00000000-0'),
 ('CS034312000071', '望月 奈央', '1', datetime.date(1980, 9, 20), 38, '213-0026', '神奈川県川崎市高津区久末**********', 'S14034', '20160106', '0-00000000-0')]

---
> S-012: 店舗テーブル（store）から横浜市の店舗だけ全項目表示せよ。

In [615]:
%%sql
SELECT * FROM store
WHERE address ~ '横浜市'

 * postgresql://padawan:***@db:5432/dsdojo_db
11 rows affected.

[('S14010', '菊名店', '14', '神奈川県', '神奈川県横浜市港北区菊名一丁目', 'カナガワケンヨコハマシコウホククキクナイッチョウメ', '045-123-4032', Decimal('139.6326'), Decimal('35.50049'), Decimal('1732.0')),
 ('S14033', '阿久和店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4043', Decimal('139.4961'), Decimal('35.45918'), Decimal('1495.0')),
 ('S14040', '長津田店', '14', '神奈川県', '神奈川県横浜市緑区長津田みなみ台五丁目', 'カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ', '045-123-4046', Decimal('139.4994'), Decimal('35.52398'), Decimal('1548.0')),
 ('S14050', '阿久和西店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4053', Decimal('139.4961'), Decimal('35.45918'), Decimal('1830.0')),
 ('S14028', '二ツ橋店', '14', '神奈川県', '神奈川県横浜市瀬谷区二ツ橋町', 'カナガワケンヨコハマシセヤクフタツバシチョウ', '045-123-4042', Decimal('139.4963'), Decimal('35.46304'), Decimal('1574.0')),
 ('S14012', '本牧和田店', '14', '神奈川県', '神奈川県横浜市中区本牧和田', 'カナガワケンヨコハマシナカクホンモクワダ', '045-123-4034', Decimal('139.6582'), Decimal('35.42156'), Decimal('1341.0')),
 ('S14046', '北山田店', '14', '神奈川県', '神奈川県横浜市都筑区北山田一丁目', 'カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ', '045-123-4049', Decimal('139.5916'), Decimal('35.56189'), Decimal('831.0')),
 ('S14011', '日吉本町店', '14', '神奈川県', '神奈川県横浜市港北区日吉本町四丁目', 'カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ', '045-123-4033', Decimal('139.6316'), Decimal('35.54655'), Decimal('890.0')),
 ('S14048', '中川中央店', '14', '神奈川県', '神奈川県横浜市都筑区中川中央二丁目', 'カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ', '045-123-4051', Decimal('139.5758'), Decimal('35.54912'), Decimal('1657.0')),
 ('S14042', '新山下店', '14', '神奈川県', '神奈川県横浜市中区新山下二丁目', 'カナガワケンヨコハマシナカクシンヤマシタニチョウメ', '045-123-4047', Decimal('139.6593'), Decimal('35.43894'), Decimal('1044.0')),
 ('S14006', '葛が谷店', '14', '神奈川県', '神奈川県横浜市都筑区葛が谷', 'カナガワケンヨコハマシツヅキククズガヤ', '045-123-4031', Decimal('139.5633'), Decimal('35.53573'), Decimal('1886.0'))]

---
> S-013: 顧客テーブル（customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件だけ表示せよ。

In [616]:
%%sql
SELECT * FROM customer
WHERE status_cd ~ '^[A-F].*'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS031415000172', '宇多田 貴美子', '1', datetime.date(1976, 10, 4), 42, '151-0053', '東京都渋谷区代々木**********', 'S13031', '20150529', 'D-20100325-C'),
 ('CS015414000103', '奥野 陽子', '1', datetime.date(1977, 8, 9), 41, '136-0073', '東京都江東区北砂**********', 'S13015', '20150722', 'B-20100609-B'),
 ('CS011215000048', '芦田 沙耶', '1', datetime.date(1992, 2, 1), 27, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150228', 'C-20100421-9'),
 ('CS029415000023', '梅田 里穂', '1', datetime.date(1976, 1, 17), 43, '279-0043', '千葉県浦安市富士見**********', 'S12029', '20150610', 'D-20100918-E'),
 ('CS035415000029', '寺沢 真希', '9', datetime.date(1977, 9, 27), 41, '158-0096', '東京都世田谷区玉川台**********', 'S13035', '20141220', 'F-20101029-F'),
 ('CS031415000106', '宇野 由美子', '1', datetime.date(1970, 2, 26), 49, '151-0053', '東京都渋谷区代々木**********', 'S13031', '20150201', 'F-20100511-E'),
 ('CS029215000025', '石倉 美帆', '1', datetime.date(1993, 9, 28), 25, '279-0022', '千葉県浦安市今川**********', 'S12029', '20150708', 'B-20100820-C'),
 ('CS033605000005', '猪股 雄太', '0', datetime.date(1955, 12, 5), 63, '246-0031', '神奈川県横浜市瀬谷区瀬谷**********', 'S14033', '20150425', 'F-20100917-E'),
 ('CS033415000229', '板垣 菜々美', '1', datetime.date(1977, 11, 7), 41, '246-0021', '神奈川県横浜市瀬谷区二ツ橋町**********', 'S14033', '20150712', 'F-20100326-E'),
 ('CS008415000145', '黒谷 麻緒', '1', datetime.date(1977, 6, 27), 41, '157-0067', '東京都世田谷区喜多見**********', 'S13008', '20150829', 'F-20100622-F')]

---
> S-014: 顧客テーブル（customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [617]:
%%sql
SELECT * FROM customer
WHERE status_cd ~ '.*[1-9]$'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001215000145', '田崎 美紀', '1', datetime.date(1995, 3, 29), 24, '144-0055', '東京都大田区仲六郷**********', 'S13001', '20170605', '6-20090929-2'),
 ('CS033513000180', '安斎 遥', '1', datetime.date(1962, 7, 11), 56, '241-0823', '神奈川県横浜市旭区善部町**********', 'S14033', '20150728', '6-20080506-5'),
 ('CS011215000048', '芦田 沙耶', '1', datetime.date(1992, 2, 1), 27, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150228', 'C-20100421-9'),
 ('CS040412000191', '川井 郁恵', '1', datetime.date(1977, 1, 5), 42, '226-0021', '神奈川県横浜市緑区北八朔町**********', 'S14040', '20151101', '1-20091025-4'),
 ('CS009315000023', '皆川 文世', '1', datetime.date(1980, 4, 15), 38, '154-0012', '東京都世田谷区駒沢**********', 'S13009', '20150319', '5-20080322-1'),
 ('CS015315000033', '福士 璃奈子', '1', datetime.date(1983, 3, 17), 36, '135-0043', '東京都江東区塩浜**********', 'S13015', '20141024', '4-20080219-3'),
 ('CS023513000066', '神戸 そら', '1', datetime.date(1961, 12, 17), 57, '210-0005', '神奈川県川崎市川崎区東田町**********', 'S14023', '20150915', '5-20100524-9'),
 ('CS035513000134', '市川 美帆', '1', datetime.date(1960, 3, 27), 59, '156-0053', '東京都世田谷区桜**********', 'S13035', '20150227', '8-20100711-9'),
 ('CS001515000263', '高松 夏空', '1', datetime.date(1962, 11, 9), 56, '144-0051', '東京都大田区西蒲田**********', 'S13001', '20160812', '1-20100804-1'),
 ('CS040314000027', '鶴田 きみまろ', '9', datetime.date(1986, 3, 26), 33, '226-0027', '神奈川県横浜市緑区長津田**********', 'S14040', '20150122', '2-20080426-4')]

---
> S-015: 顧客テーブル（customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [618]:
%%sql
SELECT * FROM customer
WHERE status_cd ~ '^[A-F].*[1-9]$'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS011215000048', '芦田 沙耶', '1', datetime.date(1992, 2, 1), 27, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150228', 'C-20100421-9'),
 ('CS022513000105', '島村 貴美子', '1', datetime.date(1962, 3, 12), 57, '249-0002', '神奈川県逗子市山の根**********', 'S14022', '20150320', 'A-20091115-7'),
 ('CS001515000096', '水野 陽子', '9', datetime.date(1960, 11, 29), 58, '144-0053', '東京都大田区蒲田本町**********', 'S13001', '20150614', 'A-20100724-7'),
 ('CS013615000053', '西脇 季衣', '1', datetime.date(1953, 10, 18), 65, '261-0026', '千葉県千葉市美浜区幕張西**********', 'S12013', '20150128', 'B-20100329-6'),
 ('CS020412000161', '小宮 薫', '1', datetime.date(1974, 5, 21), 44, '174-0042', '東京都板橋区東坂下**********', 'S13020', '20150822', 'B-20081021-3'),
 ('CS001215000097', '竹中 あさみ', '1', datetime.date(1990, 7, 25), 28, '146-0095', '東京都大田区多摩川**********', 'S13001', '20170315', 'A-20100211-2'),
 ('CS035212000007', '内村 恵梨香', '1', datetime.date(1990, 12, 4), 28, '152-0023', '東京都目黒区八雲**********', 'S13035', '20151013', 'B-20101018-6'),
 ('CS002515000386', '野田 コウ', '1', datetime.date(1963, 5, 30), 55, '185-0013', '東京都国分寺市西恋ケ窪**********', 'S13002', '20160410', 'C-20100127-8'),
 ('CS001615000372', '稲垣 寿々花', '1', datetime.date(1956, 10, 29), 62, '144-0035', '東京都大田区南蒲田**********', 'S13001', '20170403', 'A-20100104-1'),
 ('CS032512000121', '松井 知世', '1', datetime.date(1962, 9, 4), 56, '210-0011', '神奈川県川崎市川崎区富士見**********', 'S13032', '20150727', 'A-20100103-5')]

---
> S-016: 店舗テーブル（store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [29]:
%%sql
SELECT * FROM store
WHERE tel_no ~ '^[0-9]{3}-[0-9]{3}-[0-9]{4}$'

 * postgresql://padawan:***@db:5432/dsdojo_db
34 rows affected.

[('S12014', '千草台店', '12', '千葉県', '千葉県千葉市稲毛区千草台一丁目', 'チバケンチバシイナゲクチグサダイイッチョウメ', '043-123-4003', Decimal('140.118'), Decimal('35.63559'), Decimal('1698.0')),
 ('S13002', '国分寺店', '13', '東京都', '東京都国分寺市本多二丁目', 'トウキョウトコクブンジシホンダニチョウメ', '042-123-4008', Decimal('139.4802'), Decimal('35.70566'), Decimal('1735.0')),
 ('S14010', '菊名店', '14', '神奈川県', '神奈川県横浜市港北区菊名一丁目', 'カナガワケンヨコハマシコウホククキクナイッチョウメ', '045-123-4032', Decimal('139.6326'), Decimal('35.50049'), Decimal('1732.0')),
 ('S14033', '阿久和店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4043', Decimal('139.4961'), Decimal('35.45918'), Decimal('1495.0')),
 ('S14036', '相模原中央店', '14', '神奈川県', '神奈川県相模原市中央二丁目', 'カナガワケンサガミハラシチュウオウニチョウメ', '042-123-4045', Decimal('139.3716'), Decimal('35.57327'), Decimal('1679.0')),
 ('S14040', '長津田店', '14', '神奈川県', '神奈川県横浜市緑区長津田みなみ台五丁目', 'カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ', '045-123-4046', Decimal('139.4994'), Decimal('35.52398'), Decimal('1548.0')),
 ('S14050', '阿久和西店', '14', '神奈川県', '神奈川県横浜市瀬谷区阿久和西一丁目', 'カナガワケンヨコハマシセヤクアクワニシイッチョウメ', '045-123-4053', Decimal('139.4961'), Decimal('35.45918'), Decimal('1830.0')),
 ('S13052', '森野店', '13', '東京都', '東京都町田市森野三丁目', 'トウキョウトマチダシモリノサンチョウメ', '042-123-4030', Decimal('139.4383'), Decimal('35.55293'), Decimal('1087.0')),
 ('S14028', '二ツ橋店', '14', '神奈川県', '神奈川県横浜市瀬谷区二ツ橋町', 'カナガワケンヨコハマシセヤクフタツバシチョウ', '045-123-4042', Decimal('139.4963'), Decimal('35.46304'), Decimal('1574.0')),
 ('S14012', '本牧和田店', '14', '神奈川県', '神奈川県横浜市中区本牧和田', 'カナガワケンヨコハマシナカクホンモクワダ', '045-123-4034', Decimal('139.6582'), Decimal('35.42156'), Decimal('1341.0')),
 ('S14046', '北山田店', '14', '神奈川県', '神奈川県横浜市都筑区北山田一丁目', 'カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ', '045-123-4049', Decimal('139.5916'), Decimal('35.56189'), Decimal('831.0')),
 ('S14022', '逗子店', '14', '神奈川県', '神奈川県逗子市逗子一丁目', 'カナガワケンズシシズシイッチョウメ', '046-123-4036', Decimal('139.5789'), Decimal('35.29642'), Decimal('1838.0')),
 ('S14011', '日吉本町店', '14', '神奈川県', '神奈川県横浜市港北区日吉本町四丁目', 'カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ', '045-123-4033', Decimal('139.6316'), Decimal('35.54655'), Decimal('890.0')),
 ('S13016', '小金井店', '13', '東京都', '東京都小金井市本町一丁目', 'トウキョウトコガネイシホンチョウイッチョウメ', '042-123-4015', Decimal('139.5094'), Decimal('35.70018'), Decimal('1399.0')),
 ('S14034', '川崎野川店', '14', '神奈川県', '神奈川県川崎市宮前区野川', 'カナガワケンカワサキシミヤマエクノガワ', '044-123-4044', Decimal('139.5998'), Decimal('35.57693'), Decimal('1318.0')),
 ('S14048', '中川中央店', '14', '神奈川県', '神奈川県横浜市都筑区中川中央二丁目', 'カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ', '045-123-4051', Decimal('139.5758'), Decimal('35.54912'), Decimal('1657.0')),
 ('S12007', '佐倉店', '12', '千葉県', '千葉県佐倉市上志津', 'チバケンサクラシカミシヅ', '043-123-4001', Decimal('140.1452'), Decimal('35.71872'), Decimal('1895.0')),
 ('S14026', '辻堂西海岸店', '14', '神奈川県', '神奈川県藤沢市辻堂西海岸二丁目', 'カナガワケンフジサワシツジドウニシカイガンニチョウメ', '046-123-4040', Decimal('139.4466'), Decimal('35.32464'), Decimal('1732.0')),
 ('S13041', '八王子店', '13', '東京都', '東京都八王子市大塚', 'トウキョウトハチオウジシオオツカ', '042-123-4026', Decimal('139.4235'), Decimal('35.63787'), Decimal('810.0')),
 ('S14049', '川崎大師店', '14', '神奈川県', '神奈川県川崎市川崎区中瀬三丁目', 'カナガワケンカワサキシカワサキクナカゼサンチョウメ', '044-123-4052', Decimal('139.7327'), Decimal('35.53759'), Decimal('962.0')),
 ('S14023', '川崎店', '14', '神奈川県', '神奈川県川崎市川崎区本町二丁目', 'カナガワケンカワサキシカワサキクホンチョウニチョウメ', '044-123-4037', Decimal('139.7028'), Decimal('35.53599'), Decimal('1804.0')),
 ('S13018', '清瀬店', '13', '東京都', '東京都清瀬市松山一丁目', 'トウキョウトキヨセシマツヤマイッチョウメ', '042-123-4017', Decimal('139.5178'), Decimal('35.76885'), Decimal('1220.0')),
 ('S14027', '南藤沢店', '14', '神奈川県', '神奈川県藤沢市南藤沢', 'カナガワケンフジサワシミナミフジサワ', '046-123-4041', Decimal('139.4896'), Decimal('35.33762'), Decimal('1521.0')),
 ('S14021', '伊勢原店', '14', '神奈川県', '神奈川県伊勢原市伊勢原四丁目', 'カナガワケンイセハラシイセハラヨンチョウメ', '046-123-4035', Decimal('139.3129'), Decimal('35.40169'), Decimal('962.0')),
 ('S14047', '相模原店', '14', '神奈川県', '神奈川県相模原市千代田六丁目', 'カナガワケンサガミハラシチヨダロクチョウメ', '042-123-4050', Decimal('139.3748'), Decimal('35.55959'), Decimal('1047.0')),
 ('S12013', '習志野店', '12', '千葉県', '千葉県習志野市芝園一丁目', 'チバケンナラシノシシバゾノイッチョウメ', '047-123-4002', Decimal('140.022'), Decimal('35.66122'), Decimal('808.0')),
 ('S14042', '新山下店', '14', '神奈川県', '神奈川県横浜市中区新山下二丁目', 'カナガワケンヨコハマシナカクシンヤマシタニチョウメ', '045-123-4047', Decimal('139.6593'), Decimal('35.43894'), Decimal('1044.0')),
 ('S12030', '八幡店', '12', '千葉県', '千葉県市川市八幡三丁目', 'チバケンイチカワシヤワタサンチョウメ', '047-123-4005', Decimal('139.924'), Decimal('35.72318'), Decimal('1162.0')),
 ('S14025', '大和店', '14', '神奈川県', '神奈川県大和市下和田', 'カナガワケンヤマトシシモワダ', '046-123-4039', Decimal('139.468'), Decimal('35.43414'), Decimal('1011.0')),
 ('S14045', '厚木店', '14', '神奈川県', '神奈川県厚木市中町二丁目', 'カナガワケンアツギシナカチョウニチョウメ', '046-123-4048', Decimal('139.3651'), Decimal('35.44182'), Decimal('980.0')),
 ('S12029', '東野店', '12', '千葉県', '千葉県浦安市東野一丁目', 'チバケンウラヤスシヒガシノイッチョウメ', '047-123-4004', Decimal('139.8968'), Decimal('35.65086'), Decimal('1101.0')),
 ('S12053', '高洲店', '12', '千葉県', '千葉県浦安市高洲五丁目', 'チバケンウラヤスシタカスゴチョウメ', '047-123-4006', Decimal('139.9176'), Decimal('35.63755'), Decimal('1555.0')),
 ('S14024', '三田店', '14', '神奈川県', '神奈川県川崎市多摩区三田四丁目', 'カナガワケンカワサキシタマクミタヨンチョウメ', '044-123-4038', Decimal('139.5424'), Decimal('35.6077'), Decimal('972.0')),
 ('S14006', '葛が谷店', '14', '神奈川県', '神奈川県横浜市都筑区葛が谷', 'カナガワケンヨコハマシツヅキククズガヤ', '045-123-4031', Decimal('139.5633'), Decimal('35.53573'), Decimal('1886.0'))]

---
> S-017: 顧客テーブル（customer）を生年月日（birth_day）で高齢順にソートし、先頭10件を全項目表示せよ。

In [21]:
%%sql
SELECT * FROM customer
ORDER BY birth_day ASC
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS003813000014', '村山 菜々美', '1', '女性', datetime.date(1928, 11, 26), 90, '182-0007', '東京都調布市菊野台**********', 'S13003', '20160214', '0-00000000-0'),
 ('CS026813000004', '吉村 朝陽', '1', '女性', datetime.date(1928, 12, 14), 90, '251-0043', '神奈川県藤沢市辻堂元町**********', 'S14026', '20150723', '0-00000000-0'),
 ('CS018811000003', '熊沢 美里', '1', '女性', datetime.date(1929, 1, 7), 90, '204-0004', '東京都清瀬市野塩**********', 'S13018', '20150403', '0-00000000-0'),
 ('CS027803000004', '内村 拓郎', '0', '男性', datetime.date(1929, 1, 12), 90, '251-0031', '神奈川県藤沢市鵠沼藤が谷**********', 'S14027', '20151227', '0-00000000-0'),
 ('CS013801000003', '天野 拓郎', '0', '男性', datetime.date(1929, 1, 15), 90, '274-0824', '千葉県船橋市前原東**********', 'S12013', '20160120', '0-00000000-0'),
 ('CS001814000022', '鶴田 里穂', '1', '女性', datetime.date(1929, 1, 28), 90, '144-0045', '東京都大田区南六郷**********', 'S13001', '20161012', 'A-20090415-7'),
 ('CS016815000002', '山元 美紀', '1', '女性', datetime.date(1929, 2, 22), 90, '184-0005', '東京都小金井市桜町**********', 'S13016', '20150629', 'C-20090923-C'),
 ('CS009815000003', '中田 里穂', '1', '女性', datetime.date(1929, 4, 8), 89, '154-0014', '東京都世田谷区新町**********', 'S13009', '20150421', 'D-20091021-E'),
 ('CS012813000013', '宇野 南朋', '1', '女性', datetime.date(1929, 4, 9), 89, '231-0806', '神奈川県横浜市中区本牧町**********', 'S14012', '20150712', '0-00000000-0'),
 ('CS005813000015', '金谷 恵梨香', '1', '女性', datetime.date(1929, 4, 9), 89, '165-0032', '東京都中野区鷺宮**********', 'S13005', '20150506', '0-00000000-0')]

---
> S-018: 顧客テーブル（customer）を生年月日（birth_day）で若い順にソートし、先頭10件を全項目表示せよ。

In [22]:
%%sql
SELECT * FROM customer
ORDER BY birth_day DESC
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS035114000004', '大村 美里', '1', '女性', datetime.date(2007, 11, 25), 11, '156-0053', '東京都世田谷区桜**********', 'S13035', '20150619', '6-20091205-6'),
 ('CS022103000002', '福山 はじめ', '9', '不明', datetime.date(2007, 10, 2), 11, '249-0006', '神奈川県逗子市逗子**********', 'S14022', '20160909', '0-00000000-0'),
 ('CS002113000009', '柴田 真悠子', '1', '女性', datetime.date(2007, 9, 17), 11, '184-0014', '東京都小金井市貫井南町**********', 'S13002', '20160304', '0-00000000-0'),
 ('CS004115000014', '松井 京子', '1', '女性', datetime.date(2007, 8, 9), 11, '165-0031', '東京都中野区上鷺宮**********', 'S13004', '20161120', '1-20081231-1'),
 ('CS002114000010', '山内 遥', '1', '女性', datetime.date(2007, 6, 3), 11, '184-0015', '東京都小金井市貫井北町**********', 'S13002', '20160920', '6-20100510-1'),
 ('CS025115000002', '小柳 夏希', '1', '女性', datetime.date(2007, 4, 18), 11, '245-0018', '神奈川県横浜市泉区上飯田町**********', 'S14025', '20160116', 'D-20100913-D'),
 ('CS002113000025', '広末 まなみ', '1', '女性', datetime.date(2007, 3, 30), 12, '184-0015', '東京都小金井市貫井北町**********', 'S13002', '20171030', '0-00000000-0'),
 ('CS033112000003', '長野 美紀', '1', '女性', datetime.date(2007, 3, 22), 12, '245-0051', '神奈川県横浜市戸塚区名瀬町**********', 'S14033', '20150606', '0-00000000-0'),
 ('CS007115000006', '福岡 瞬', '1', '女性', datetime.date(2007, 3, 10), 12, '285-0845', '千葉県佐倉市西志津**********', 'S12007', '20151118', 'F-20101016-F'),
 ('CS014113000008', '矢口 莉緒', '1', '女性', datetime.date(2007, 3, 5), 12, '260-0041', '千葉県千葉市中央区東千葉**********', 'S12014', '20150622', '3-20091108-6')]

---
> S-019: レシート明細テーブル（receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [24]:
%%sql
SELECT customer_id, amount, RANK() OVER (ORDER BY amount DESC) FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS011415000006', 10925, 1),
 ('ZZ000000000000', 6800, 2),
 ('CS028605000002', 5780, 3),
 ('ZZ000000000000', 5480, 4),
 ('CS015515000034', 5480, 4),
 ('ZZ000000000000', 5480, 4),
 ('ZZ000000000000', 5440, 7),
 ('CS021515000089', 5440, 7),
 ('ZZ000000000000', 5280, 9),
 ('CS009415000038', 5280, 9)]

---
>  S-020: レシート明細テーブル（receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [25]:
%%sql
SELECT customer_id, amount, ROW_NUMBER() OVER (ORDER BY amount DESC) FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS011415000006', 10925, 1),
 ('ZZ000000000000', 6800, 2),
 ('CS028605000002', 5780, 3),
 ('ZZ000000000000', 5480, 4),
 ('CS015515000034', 5480, 5),
 ('ZZ000000000000', 5480, 6),
 ('ZZ000000000000', 5440, 7),
 ('CS021515000089', 5440, 8),
 ('ZZ000000000000', 5280, 9),
 ('CS009415000038', 5280, 10)]

---
> S-021: レシート明細テーブル（receipt）に対し、件数をカウントせよ。

In [26]:
%%sql
SELECT COUNT(*) FROM receipt

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(104681,)]

---
> S-022: レシート明細テーブル（receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [28]:
%%sql
SELECT COUNT(DISTINCT customer_id) FROM receipt

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(8307,)]

---
> S-023: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [619]:
%%sql
SELECT store_cd, SUM(amount) AS 合計金額, SUM(quantity) AS 合計数量 FROM receipt
GROUP BY store_cd

 * postgresql://padawan:***@db:5432/dsdojo_db
52 rows affected.

[('S12007', 638761, 2099),
 ('S13017', 748221, 2376),
 ('S13043', 587895, 1881),
 ('S13052', 100314, 250),
 ('S13016', 793773, 2432),
 ('S14027', 714550, 2303),
 ('S13009', 808870, 2486),
 ('S14022', 651328, 2047),
 ('S13019', 827833, 2541),
 ('S13039', 611888, 1981),
 ('S14046', 412646, 1354),
 ('S13003', 764294, 2197),
 ('S14028', 786145, 2458),
 ('S14045', 458484, 1398),
 ('S13002', 727821, 2340),
 ('S14042', 534689, 1935),
 ('S13004', 779373, 2390),
 ('S13038', 708884, 2337),
 ('S12014', 725167, 2358),
 ('S14021', 699511, 2231),
 ('S14006', 712839, 2284),
 ('S13001', 811936, 2347),
 ('S14023', 727630, 2258),
 ('S14025', 755581, 2394),
 ('S13035', 715869, 2219),
 ('S14048', 234276, 769),
 ('S14012', 720600, 2412),
 ('S14024', 736323, 2417),
 ('S13041', 728266, 2233),
 ('S14026', 824537, 2503),
 ('S14010', 790361, 2290),
 ('S13015', 780873, 2248),
 ('S13008', 809288, 2491),
 ('S14049', 230808, 788),
 ('S14050', 167090, 580),
 ('S13031', 705968, 2336),
 ('S12013', 787513, 2425),
 ('S13044', 520764, 1729),
 ('S14033', 725318, 2282),
 ('S12029', 794741, 2555),
 ('S13037', 693087, 2344),
 ('S12030', 684402, 2403),
 ('S13032', 790501, 2491),
 ('S14034', 653681, 2024),
 ('S14040', 701858, 2233),
 ('S13005', 629876, 2004),
 ('S14047', 338329, 1041),
 ('S14011', 805724, 2434),
 ('S13018', 790535, 2562),
 ('S13020', 796383, 2383),
 ('S13051', 107452, 354),
 ('S14036', 203694, 635)]

---
> S-024: レシート明細テーブル（receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）を求め、10件表示せよ。

In [34]:
%%sql
SELECT customer_id, MAX(sales_ymd) FROM receipt
GROUP BY customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 20180211),
 ('CS004614000122', 20181228),
 ('CS003512000043', 20180106),
 ('CS011615000061', 20190503),
 ('CS029212000033', 20180621),
 ('CS007515000119', 20190511),
 ('CS034515000123', 20190708),
 ('CS004315000058', 20170517),
 ('CS026414000014', 20190720),
 ('CS001615000099', 20170729)]

---
> S-025: レシート明細テーブル（receipt）に対し、顧客ID（customer_id）ごとに最も古い売上日（sales_ymd）を求め、10件表示せよ。

In [35]:
%%sql
SELECT customer_id, MIN(sales_ymd) FROM receipt
GROUP BY customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 20180211),
 ('CS004614000122', 20181228),
 ('CS003512000043', 20180106),
 ('CS011615000061', 20190503),
 ('CS029212000033', 20170318),
 ('CS007515000119', 20170201),
 ('CS034515000123', 20170527),
 ('CS004315000058', 20170517),
 ('CS026414000014', 20170718),
 ('CS001615000099', 20170729)]

---
> S-026: レシート明細テーブル（receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）と古い売上日を求め、両者が異なるデータを10件表示せよ。

In [37]:
%%sql
SELECT customer_id, MAX(sales_ymd), MIN(sales_ymd) FROM receipt
GROUP BY customer_id
HAVING MAX(sales_ymd) <> MIN(sales_ymd)
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS029212000033', 20180621, 20170318),
 ('CS007515000119', 20190511, 20170201),
 ('CS034515000123', 20190708, 20170527),
 ('CS026414000014', 20190720, 20170718),
 ('CS010515000082', 20181204, 20180518),
 ('CS019315000045', 20170920, 20170423),
 ('CS008513000099', 20190308, 20170722),
 ('CS007615000070', 20191025, 20170929),
 ('CS025415000155', 20191026, 20170314),
 ('CS016414000063', 20190617, 20170109)]

---
> S-027: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [41]:
%%sql
SELECT store_cd, AVG(amount) FROM receipt
GROUP BY store_cd
ORDER BY AVG(amount) DESC
LIMIT 5

 * postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('S13052', Decimal('402.8674698795180723')),
 ('S13015', Decimal('351.1119604316546763')),
 ('S13003', Decimal('350.9155188246097337')),
 ('S14010', Decimal('348.7912621359223301')),
 ('S13001', Decimal('348.4703862660944206'))]

---
> S-028: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [622]:
%%sql
SELECT store_cd, PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY amount) AS 中央値 FROM receipt
GROUP BY store_cd
ORDER BY PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY amount) DESC
LIMIT 5

 * postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('S13052', 190.0),
 ('S14010', 188.0),
 ('S14050', 185.0),
 ('S13003', 180.0),
 ('S13018', 180.0)]

---
> S-029: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに商品コードの最頻値を求めよ。

In [16]:
%%sql
SELECT store_cd, MODE() WITHIN GROUP (ORDER BY product_cd) FROM receipt
GROUP BY store_cd

 * postgresql://padawan:***@db:5432/dsdojo_db
52 rows affected.

[('S12007', 'P060303001'),
 ('S12013', 'P060303001'),
 ('S12014', 'P060303001'),
 ('S12029', 'P060303001'),
 ('S12030', 'P060303001'),
 ('S13001', 'P060303001'),
 ('S13002', 'P060303001'),
 ('S13003', 'P071401001'),
 ('S13004', 'P060303001'),
 ('S13005', 'P040503001'),
 ('S13008', 'P060303001'),
 ('S13009', 'P060303001'),
 ('S13015', 'P071401001'),
 ('S13016', 'P071102001'),
 ('S13017', 'P060101002'),
 ('S13018', 'P071401001'),
 ('S13019', 'P071401001'),
 ('S13020', 'P071401001'),
 ('S13031', 'P060303001'),
 ('S13032', 'P060303001'),
 ('S13035', 'P040503001'),
 ('S13037', 'P060303001'),
 ('S13038', 'P060303001'),
 ('S13039', 'P071401001'),
 ('S13041', 'P071401001'),
 ('S13043', 'P060303001'),
 ('S13044', 'P060303001'),
 ('S13051', 'P050102001'),
 ('S13052', 'P050101001'),
 ('S14006', 'P060303001'),
 ('S14010', 'P060303001'),
 ('S14011', 'P060101001'),
 ('S14012', 'P060303001'),
 ('S14021', 'P060101001'),
 ('S14022', 'P060303001'),
 ('S14023', 'P071401001'),
 ('S14024', 'P060303001'),
 ('S14025', 'P060303001'),
 ('S14026', 'P071401001'),
 ('S14027', 'P060303001'),
 ('S14028', 'P060303001'),
 ('S14033', 'P071401001'),
 ('S14034', 'P060303001'),
 ('S14036', 'P040503001'),
 ('S14040', 'P060303001'),
 ('S14042', 'P050101001'),
 ('S14045', 'P060303001'),
 ('S14046', 'P060303001'),
 ('S14047', 'P060303001'),
 ('S14048', 'P050101001'),
 ('S14049', 'P060303001'),
 ('S14050', 'P060303001')]

---
> S-030: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本分散を計算し、降順にTOP5を表示せよ。

In [19]:
%%sql
SELECT store_cd, VAR_SAMP(amount) FROM receipt
-- 母集団分散を計算するときはVAR_POPを使う。VARIANCEはVAR_SAMPと同様。（古いもの）
GROUP BY store_cd
ORDER BY VAR_SAMP(amount) DESC
LIMIT 5

 * postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('S13052', Decimal('441863.252526233968')),
 ('S14011', Decimal('306442.242431568709')),
 ('S14034', Decimal('297068.392740060738')),
 ('S13001', Decimal('295558.842617712478')),
 ('S13015', Decimal('295427.197085853584'))]

---
> S-031: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本標準偏差を計算し、降順にTOP5を表示せよ。

In [20]:
%%sql
SELECT store_cd, STDDEV(amount) FROM receipt
GROUP BY store_cd
ORDER BY STDDEV(amount) DESC
LIMIT 5

 * postgresql://padawan:***@db:5432/dsdojo_db
5 rows affected.

[('S13052', Decimal('664.727953772244')),
 ('S14011', Decimal('553.572255836190')),
 ('S14034', Decimal('545.039808399406')),
 ('S13001', Decimal('543.653237475610')),
 ('S13015', Decimal('543.532149082144'))]

---
> S-032: レシート明細テーブル（receipt）に対し、売上金額（amount）について25％刻みでパーセンタイル値を求めよ。

In [623]:
%%sql
SELECT
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY amount) AS Q1,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY amount) AS Q2,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY amount) AS Q3
FROM receipt

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(102.0, 170.0, 288.0)]

---
> S-033: レシート明細テーブル（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [16]:
%%sql
SELECT store_cd, AVG(amount) FROM receipt
GROUP BY store_cd
HAVING AVG(amount) >=330

 * postgresql://padawan:***@db:5432/dsdojo_db
13 rows affected.

[('S13052', Decimal('402.8674698795180723')),
 ('S13019', Decimal('330.2086158755484643')),
 ('S13003', Decimal('350.9155188246097337')),
 ('S14045', Decimal('330.0820734341252700')),
 ('S13004', Decimal('330.9439490445859873')),
 ('S13001', Decimal('348.4703862660944206')),
 ('S14026', Decimal('332.3405884723901653')),
 ('S14010', Decimal('348.7912621359223301')),
 ('S13015', Decimal('351.1119604316546763')),
 ('S12013', Decimal('330.1941299790356394')),
 ('S14047', Decimal('330.0770731707317073')),
 ('S14011', Decimal('335.7183333333333333')),
 ('S13020', Decimal('337.8799321170980059'))]

---
> S-034: レシート明細テーブル（receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [624]:
%%sql
SELECT AVG(sum_amount) FROM (
    SELECT SUM(amount) AS sum_amount FROM receipt WHERE customer_id !~ '^Z.*' GROUP BY customer_id
) AS member

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(Decimal('2547.7422345292559595'),)]

---
> S-035: レシート明細テーブル（receipt）に対し、顧客ID（customer_id）ごとに販売金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは10件だけ表示させれば良い。

In [627]:
%%sql
-- receiptから非会員を除外し、amountをcustomer_idごとに合計する。(sum_amount) WITH句にて一度保留。
WITH member_table AS (
    SELECT customer_id, SUM(amount) AS sum_amount FROM receipt WHERE customer_id !~ '^Z.*' GROUP BY customer_id
)
SELECT customer_id FROM member_table
-- AVG(sum_amount)にて全会員の合計購入金額の平均を求める。
WHERE sum_amount >= (SELECT AVG(sum_amount) FROM member_table)
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS029212000033',),
 ('CS007515000119',),
 ('CS034515000123',),
 ('CS026414000014',),
 ('CS007615000070',),
 ('CS016414000063',),
 ('CS012514000018',),
 ('CS029515000142',),
 ('CS015215000021',),
 ('CS039814000011',)]

---
> S-036: レシート明細テーブル（receipt）と店舗テーブル（store）を内部結合し、レシート明細テーブルの全項目と店舗テーブルの店舗名（store_name）を10件表示させよ。

In [628]:
%%sql
SELECT receipt.*, store_name FROM receipt
INNER JOIN store ON receipt.store_cd = store.store_cd
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20181103, 1541203200, 'S14006', 112, 1, 'CS006214000001', 'P070305012', 1, 158, '葛が谷店'),
 (20181118, 1542499200, 'S13008', 1132, 2, 'CS008415000097', 'P070701017', 1, 81, '成城店'),
 (20170712, 1499817600, 'S14028', 1102, 1, 'CS028414000014', 'P060101005', 1, 170, '二ツ橋店'),
 (20190205, 1549324800, 'S14042', 1132, 1, 'ZZ000000000000', 'P050301001', 1, 25, '新山下店'),
 (20180821, 1534809600, 'S14025', 1102, 2, 'CS025415000050', 'P060102007', 1, 90, '大和店'),
 (20190605, 1559692800, 'S13003', 1112, 1, 'CS003515000195', 'P050102002', 1, 138, '狛江店'),
 (20181205, 1543968000, 'S14024', 1102, 2, 'CS024514000042', 'P080101005', 1, 30, '三田店'),
 (20190922, 1569110400, 'S14040', 1102, 1, 'CS040415000178', 'P070501004', 1, 128, '長津田店'),
 (20170504, 1493856000, 'S13020', 1112, 2, 'ZZ000000000000', 'P071302010', 1, 770, '十条仲原店'),
 (20191010, 1570665600, 'S14027', 1102, 1, 'CS027514000015', 'P071101003', 1, 680, '南藤沢店')]

---
> S-037: 商品テーブル（product）とカテゴリテーブル（category）を内部結合し、商品テーブルの全項目とカテゴリテーブルの小区分名（category_small_name）を10件表示させよ。

In [52]:
%%sql
SELECT product.*, category_small_name 
FROM product
INNER JOIN category ON product.category_small_cd = category.category_small_cd
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', '04', '0401', '040101', 198, 149, '弁当類'),
 ('P040101002', '04', '0401', '040101', 218, 164, '弁当類'),
 ('P040101003', '04', '0401', '040101', 230, 173, '弁当類'),
 ('P040101004', '04', '0401', '040101', 248, 186, '弁当類'),
 ('P040101005', '04', '0401', '040101', 268, 201, '弁当類'),
 ('P040101006', '04', '0401', '040101', 298, 224, '弁当類'),
 ('P040101007', '04', '0401', '040101', 338, 254, '弁当類'),
 ('P040101008', '04', '0401', '040101', 420, 315, '弁当類'),
 ('P040101009', '04', '0401', '040101', 498, 374, '弁当類'),
 ('P040101010', '04', '0401', '040101', 580, 435, '弁当類')]

---
> S-038: 顧客テーブル（customer）とレシート明細テーブル（receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は10件だけ表示させれば良い。

In [629]:
%%sql
SELECT 
    customer.customer_id, 
    SUM(CASE WHEN amount IS NULL THEN 0 ELSE amount END)
FROM customer
LEFT OUTER JOIN receipt ON customer.customer_id = receipt.customer_id
WHERE gender_cd = '1' AND customer.customer_id !~ '^Z.*'
GROUP BY customer.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS004412000425', 0),
 ('CS007512000199', 0),
 ('CS002712000064', 0),
 ('CS039515000243', 0),
 ('CS001615000099', 768),
 ('CS010515000082', 1482),
 ('CS019315000045', 813),
 ('CS008513000099', 1322),
 ('CS007615000070', 2975),
 ('CS029511000005', 0)]

---
> S-039: レシート明細テーブル（receipt）から売上日数の多い顧客の上位20件と、売上金額合計の多い顧客の上位20件を抽出し、完全外部結合せよ。ただし、非会員（顧客IDが'Z'から始まるもの）は除外すること。

In [89]:
%%sql
WITH freq20_mem AS (
    SELECT customer_id FROM receipt WHERE customer_id !~ '^Z.*' GROUP BY customer_id ORDER BY COUNT(sales_ymd) DESC LIMIT 20
),
     high20_mem AS (
SELECT customer_id FROM receipt WHERE customer_id !~ '^Z.*' GROUP BY customer_id ORDER BY SUM(amount) DESC LIMIT 20
)

SELECT freq20_mem.customer_id AS freq_20, high20_mem.customer_id AS high_20
FROM freq20_mem FULL OUTER JOIN high20_mem ON freq20_mem.customer_id = high20_mem.customer_id

 * postgresql://padawan:***@db:5432/dsdojo_db
34 rows affected.

[('CS040214000008', None),
 ('CS010214000010', 'CS010214000010'),
 ('CS015415000185', 'CS015415000185'),
 ('CS028415000007', 'CS028415000007'),
 ('CS010214000002', None),
 ('CS016415000141', 'CS016415000141'),
 ('CS021514000045', None),
 ('CS007515000107', None),
 ('CS017415000097', 'CS017415000097'),
 ('CS031414000051', 'CS031414000051'),
 ('CS039414000052', None),
 ('CS032415000209', None),
 ('CS022515000226', None),
 ('CS014415000077', None),
 ('CS014214000023', None),
 ('CS021515000172', None),
 ('CS031414000073', None),
 ('CS022515000028', None),
 ('CS021514000008', None),
 ('CS021515000101', None),
 (None, 'CS011415000006'),
 (None, 'CS016415000101'),
 (None, 'CS030415000034'),
 (None, 'CS021515000089'),
 (None, 'CS034415000047'),
 (None, 'CS006515000023'),
 (None, 'CS038415000104'),
 (None, 'CS015515000034'),
 (None, 'CS032414000072'),
 (None, 'CS011414000106'),
 (None, 'CS001605000009'),
 (None, 'CS009414000059'),
 (None, 'CS035414000024'),
 (None, 'CS007514000094')]

---
> S-040: 全ての店舗と全ての商品を組み合わせると何件のデータとなるか調査したい。店舗（store）と商品（product）を直積した件数を計算せよ。

In [91]:
%%sql
SELECT COUNT(*) FROM (SELECT * FROM store CROSS JOIN product) AS c_join

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(531590,)]

---
> S-041: レシート明細テーブル（receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前日からの売上金額増減を計算せよ。なお、計算結果は10件表示すればよい。

In [631]:
%%sql
SELECT 
    sales_ymd, 
-- ウィンドウ関数にて1日前の合計金額を取得。
    sum_amount - MIN(sum_amount) OVER (ORDER BY sales_ymd DESC ROWS BETWEEN 1 FOLLOWING AND 1 FOLLOWING) AS 売上金額増減
FROM(
    SELECT sales_ymd, SUM(amount) sum_amount
    FROM receipt
    GROUP BY sales_ymd
) AS sum_amount_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20191031, -1386),
 (20191030, -9489),
 (20191029, -4070),
 (20191028, 2677),
 (20191027, -14287),
 (20191026, 22938),
 (20191025, -3035),
 (20191024, 2431),
 (20191023, -2308),
 (20191022, -12059)]

---
> S-042: レシート明細テーブル（receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、１日前、２日前、３日前のデータを結合せよ。結果は10件表示すればよい。

In [633]:
%%sql
SELECT 
    sales_ymd, 
    sum_amount,
    MIN(sum_amount) OVER (ORDER BY sales_ymd DESC ROWS BETWEEN 1 FOLLOWING AND 1 FOLLOWING) AS "d1",
    MIN(sum_amount) OVER (ORDER BY sales_ymd DESC ROWS BETWEEN 2 FOLLOWING AND 2 FOLLOWING) AS "d2",
    MIN(sum_amount) OVER (ORDER BY sales_ymd DESC ROWS BETWEEN 3 FOLLOWING AND 3 FOLLOWING) AS "d3"
FROM (
    SELECT sales_ymd, SUM(amount) AS sum_amount
    FROM receipt
    GROUP BY sales_ymd
) AS sum_amount_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20191031, 25216, 26602, 36091, 40161),
 (20191030, 26602, 36091, 40161, 37484),
 (20191029, 36091, 40161, 37484, 51771),
 (20191028, 40161, 37484, 51771, 28833),
 (20191027, 37484, 51771, 28833, 31868),
 (20191026, 51771, 28833, 31868, 29437),
 (20191025, 28833, 31868, 29437, 31745),
 (20191024, 31868, 29437, 31745, 43804),
 (20191023, 29437, 31745, 43804, 38088),
 (20191022, 31745, 43804, 38088, 39025)]

---
> S-043: レシート明細テーブル（receipt）と顧客テーブル（customer）を結合し、性別（gender）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリテーブル（sales_summary）を作成せよ。性別は0が男性、1が女性、9が不明を表すものとする。
>
>ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

In [22]:
%%sql
SELECT 
    TRUNC(age, -1) AS 年代,
    SUM(CASE WHEN gender_cd = '0' THEN amount ELSE 0 END) AS "0",
    SUM(CASE WHEN gender_cd = '1' THEN amount ELSE 0 END) AS "1",
-- NULLを拾う。
    SUM(CASE WHEN gender_cd = '9' THEN amount WHEN gender_cd IS NULL THEN amount ELSE 0 END) AS "9"
FROM receipt FULL OUTER JOIN customer ON receipt.customer_id = customer.customer_id
GROUP BY TRUNC(age, -1)
ORDER BY TRUNC(age, -1)

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(Decimal('10'), 1591, 149836, 4317),
 (Decimal('20'), 72940, 1363724, 44328),
 (Decimal('30'), 177322, 693047, 50441),
 (Decimal('40'), 19355, 9320791, 483512),
 (Decimal('50'), 54320, 6685192, 342923),
 (Decimal('60'), 272469, 987741, 71418),
 (Decimal('70'), 13435, 29764, 2427),
 (Decimal('80'), 46360, 262923, 5111),
 (Decimal('90'), 0, 6260, 0),
 (None, 0, 0, 12395003)]

---
> S-044: 前設問で作成した売上サマリテーブル（sales_summary）は性別の売上を横持ちさせたものであった。このテーブルから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を'00'、女性を'01'、不明を'99'とする。

In [25]:
%%sql
SELECT 
    TRUNC(age, -1) AS 年代,
    CASE WHEN gender_cd = '0' THEN '00' WHEN gender_cd = '1' THEN '01' WHEN gender_cd = '9' THEN '99' ELSE NULL END AS 性別コード,
    SUM(amount)
FROM receipt FULL OUTER JOIN customer ON receipt.customer_id = customer.customer_id
GROUP BY TRUNC(age, -1), gender_cd
ORDER BY TRUNC(age, -1), 性別コード ASC

 * postgresql://padawan:***@db:5432/dsdojo_db
27 rows affected.

[(Decimal('10'), '00', 1591),
 (Decimal('10'), '01', 149836),
 (Decimal('10'), '99', 4317),
 (Decimal('20'), '00', 72940),
 (Decimal('20'), '01', 1363724),
 (Decimal('20'), '99', 44328),
 (Decimal('30'), '00', 177322),
 (Decimal('30'), '01', 693047),
 (Decimal('30'), '99', 50441),
 (Decimal('40'), '00', 19355),
 (Decimal('40'), '01', 9320791),
 (Decimal('40'), '99', 483512),
 (Decimal('50'), '00', 54320),
 (Decimal('50'), '01', 6685192),
 (Decimal('50'), '99', 342923),
 (Decimal('60'), '00', 272469),
 (Decimal('60'), '01', 987741),
 (Decimal('60'), '99', 71418),
 (Decimal('70'), '00', 13435),
 (Decimal('70'), '01', 29764),
 (Decimal('70'), '99', 2427),
 (Decimal('80'), '00', 46360),
 (Decimal('80'), '01', 262923),
 (Decimal('80'), '99', 5111),
 (Decimal('90'), '00', None),
 (Decimal('90'), '01', 6260),
 (None, None, 12395003)]

---
> S-045: 顧客テーブル（customer）の生年月日（birth_day）は日付型（Date）でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [635]:
%%sql
SELECT customer_id, REPLACE(CAST(birth_day AS varchar), '-', '')  AS birth_day
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', '19810429'),
 ('CS037613000071', '19520401'),
 ('CS031415000172', '19761004'),
 ('CS028811000001', '19330327'),
 ('CS001215000145', '19950329'),
 ('CS020401000016', '19740915'),
 ('CS015414000103', '19770809'),
 ('CS029403000008', '19730817'),
 ('CS015804000004', '19310502'),
 ('CS033513000180', '19620711')]

---
> S-046: 顧客テーブル（customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [636]:
%%sql
SELECT customer_id, CAST(application_date AS date)
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', datetime.date(2015, 9, 5)),
 ('CS037613000071', datetime.date(2015, 4, 14)),
 ('CS031415000172', datetime.date(2015, 5, 29)),
 ('CS028811000001', datetime.date(2016, 1, 15)),
 ('CS001215000145', datetime.date(2017, 6, 5)),
 ('CS020401000016', datetime.date(2015, 2, 25)),
 ('CS015414000103', datetime.date(2015, 7, 22)),
 ('CS029403000008', datetime.date(2015, 5, 15)),
 ('CS015804000004', datetime.date(2015, 6, 7)),
 ('CS033513000180', datetime.date(2015, 7, 28))]

---
> S-047: レシート明細テーブル（receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [109]:
%%sql
SELECT receipt_no, receipt_sub_no, CAST(CAST(sales_ymd AS varchar) AS date)
FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(112, 1, datetime.date(2018, 11, 3)),
 (1132, 2, datetime.date(2018, 11, 18)),
 (1102, 1, datetime.date(2017, 7, 12)),
 (1132, 1, datetime.date(2019, 2, 5)),
 (1102, 2, datetime.date(2018, 8, 21)),
 (1112, 1, datetime.date(2019, 6, 5)),
 (1102, 2, datetime.date(2018, 12, 5)),
 (1102, 1, datetime.date(2019, 9, 22)),
 (1112, 2, datetime.date(2017, 5, 4)),
 (1102, 1, datetime.date(2019, 10, 10))]

---
> S-048: レシート明細テーブル（receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型（timestamp型）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [114]:
%%sql
SELECT receipt_no, receipt_sub_no, TO_TIMESTAMP(sales_epoch)
FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(112, 1, datetime.datetime(2018, 11, 3, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1132, 2, datetime.datetime(2018, 11, 18, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1102, 1, datetime.datetime(2017, 7, 12, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1132, 1, datetime.datetime(2019, 2, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1102, 2, datetime.datetime(2018, 8, 21, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1112, 1, datetime.datetime(2019, 6, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1102, 2, datetime.datetime(2018, 12, 5, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1102, 1, datetime.datetime(2019, 9, 22, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1112, 2, datetime.datetime(2017, 5, 4, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (1102, 1, datetime.datetime(2019, 10, 10, 0, 0, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

---
> S-049: レシート明細テーブル（receipt）の販売エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"年"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [639]:
%%sql
SELECT receipt_no, receipt_sub_no, CAST(EXTRACT(year FROM TO_TIMESTAMP(sales_epoch)) AS integer) AS 年
FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(112, 1, 2018),
 (1132, 2, 2018),
 (1102, 1, 2017),
 (1132, 1, 2019),
 (1102, 2, 2018),
 (1112, 1, 2019),
 (1102, 2, 2018),
 (1102, 1, 2019),
 (1112, 2, 2017),
 (1102, 1, 2019)]

---
> S-050: レシート明細テーブル（receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"月"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"月"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [640]:
%%sql
SELECT receipt_no, receipt_sub_no, SUBSTR(CAST(TO_TIMESTAMP(sales_epoch) AS varchar),6 ,2) AS 月
FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(112, 1, '11'),
 (1132, 2, '11'),
 (1102, 1, '07'),
 (1132, 1, '02'),
 (1102, 2, '08'),
 (1112, 1, '06'),
 (1102, 2, '12'),
 (1102, 1, '09'),
 (1112, 2, '05'),
 (1102, 1, '10')]

---
> S-051: レシート明細テーブル（receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"日"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"日"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [641]:
%%sql
SELECT receipt_no, receipt_sub_no, SUBSTR(CAST(TO_TIMESTAMP(sales_epoch) AS varchar),9 ,2) AS 日
FROM receipt
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(112, 1, '03'),
 (1132, 2, '18'),
 (1102, 1, '12'),
 (1132, 1, '05'),
 (1102, 2, '21'),
 (1112, 1, '05'),
 (1102, 2, '05'),
 (1102, 1, '22'),
 (1112, 2, '04'),
 (1102, 1, '10')]

---
> S-052: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2000円以下を0、2000円超を1に2値化し、顧客ID、合計金額とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [642]:
%%sql
SELECT customer_id, SUM(amount), CASE WHEN SUM(amount) <= 2000 THEN 0 ELSE 1 END
FROM (SELECT * FROM receipt WHERE customer_id !~ '^Z.*') AS mem_table
GROUP BY customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 2302, 1),
 ('CS004614000122', 248, 0),
 ('CS003512000043', 298, 0),
 ('CS011615000061', 246, 0),
 ('CS029212000033', 3604, 1),
 ('CS007515000119', 7157, 1),
 ('CS034515000123', 3699, 1),
 ('CS004315000058', 490, 0),
 ('CS026414000014', 6671, 1),
 ('CS001615000099', 768, 0)]

---
> S-053: 顧客テーブル（customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に２値化せよ。さらにレシート明細テーブル（receipt）と結合し、全期間において買い物実績のある顧客数を、作成した2値ごとにカウントせよ。

In [643]:
%%sql
SELECT 
    SUM(CASE WHEN flag_tokyo = 1 THEN flag_purchase ELSE 0 END) AS Tokyo,
    SUM(CASE WHEN flag_tokyo = 0 THEN flag_purchase ELSE 0 END) AS Others
FROM(
-- 郵便番号が100〜209の間かどうか(flag_tokyo)、およびsales_ymdがNULLかどうか(flag_purchase)を判定。
SELECT
    CASE WHEN CAST(LEFT(postal_cd, 3) AS integer) >= 100 THEN CASE WHEN CAST(LEFT(postal_cd, 3) AS integer) <= 209 THEN 1 ELSE 0 END ELSE 0 END AS flag_tokyo,
    CASE WHEN sales_ymd IS NOT NULL THEN 1 ELSE 0 END AS flag_purchase
    FROM customer FULL OUTER JOIN receipt ON customer.customer_id = receipt.customer_id
) AS flag_table

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(31244, 73437)]

---
> S-054: 顧客テーブル（customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに抽出せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。結果は10件表示させれば良い。

In [647]:
%%sql
SELECT customer_id, address,
    CASE LEFT(address, 3)
        WHEN '埼玉県' THEN 11
        WHEN '千葉県' THEN 12
        WHEN '東京都' THEN 13
        WHEN '神奈川' THEN 14
    ELSE 99 END AS 都道府県コード
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', '神奈川県伊勢原市粟窪**********', 14),
 ('CS037613000071', '東京都江東区南砂**********', 13),
 ('CS031415000172', '東京都渋谷区代々木**********', 13),
 ('CS028811000001', '神奈川県横浜市泉区和泉町**********', 14),
 ('CS001215000145', '東京都大田区仲六郷**********', 13),
 ('CS020401000016', '東京都板橋区若木**********', 13),
 ('CS015414000103', '東京都江東区北砂**********', 13),
 ('CS029403000008', '千葉県浦安市海楽**********', 12),
 ('CS015804000004', '東京都江東区北砂**********', 13),
 ('CS033513000180', '神奈川県横浜市旭区善部町**********', 14)]

---
> S-055: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額合計とともに表示せよ。カテゴリ値は上から順に1〜4とする。結果は10件表示させれば良い。
>
> - 最小値以上第一四分位未満
> - 第一四分位以上第二四分位未満
> - 第二四分位以上第三四分位未満
> - 第三四分位以上

In [648]:
%%sql
SELECT customer_id, sum_amount, 
    CASE
        WHEN PERCENT_RANK() OVER (ORDER BY sum_amount) < 0.25 THEN 1
        WHEN PERCENT_RANK() OVER (ORDER BY sum_amount) < 0.5 THEN 2
        WHEN PERCENT_RANK() OVER (ORDER BY sum_amount) < 0.75 THEN 3
        WHEN PERCENT_RANK() OVER (ORDER BY sum_amount) >= 0.75 THEN 4
    ELSE 0 END AS カテゴリ値
FROM (
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    GROUP BY customer_id
) AS sum_amount_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS014614000056', 70, 1),
 ('CS002513000267', 80, 1),
 ('CS010803000005', 93, 1),
 ('CS005412000085', 98, 1),
 ('CS035304000008', 105, 1),
 ('CS005315000108', 115, 1),
 ('CS037412000091', 115, 1),
 ('CS039413000007', 115, 1),
 ('CS003413000010', 118, 1),
 ('CS018613000019', 118, 1)]

---
> S-056: 顧客テーブル（customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに抽出せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。先頭10件を表示させればよい。

In [649]:
%%sql
SELECT customer_id, birth_day, 
    CASE WHEN age >= 60 THEN 60 ELSE TRUNC(age, -1) END AS 年代
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', datetime.date(1981, 4, 29), Decimal('30')),
 ('CS037613000071', datetime.date(1952, 4, 1), Decimal('60')),
 ('CS031415000172', datetime.date(1976, 10, 4), Decimal('40')),
 ('CS028811000001', datetime.date(1933, 3, 27), Decimal('60')),
 ('CS001215000145', datetime.date(1995, 3, 29), Decimal('20')),
 ('CS020401000016', datetime.date(1974, 9, 15), Decimal('40')),
 ('CS015414000103', datetime.date(1977, 8, 9), Decimal('40')),
 ('CS029403000008', datetime.date(1973, 8, 17), Decimal('40')),
 ('CS015804000004', datetime.date(1931, 5, 2), Decimal('60')),
 ('CS033513000180', datetime.date(1962, 7, 11), Decimal('50'))]

---
> S-057: 前問題の抽出結果と性別（gender）を組み合わせ、新たに性別×年代の組み合わせを表すカテゴリデータを作成せよ。組み合わせを表すカテゴリの値は任意とする。先頭10件を表示させればよい。

In [28]:
%%sql
SELECT customer_id, birth_day,
    CASE 
        WHEN gender_cd = '0' THEN 'M'
        WHEN gender_cd = '1' THEN 'F'
    ELSE 'U' END ||
    CASE WHEN age >= 60 THEN 60 
    ELSE TRUNC(age, -1) END AS 性別・年代
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', datetime.date(1981, 4, 29), 'F30'),
 ('CS037613000071', datetime.date(1952, 4, 1), 'U60'),
 ('CS031415000172', datetime.date(1976, 10, 4), 'F40'),
 ('CS028811000001', datetime.date(1933, 3, 27), 'F60'),
 ('CS001215000145', datetime.date(1995, 3, 29), 'F20'),
 ('CS020401000016', datetime.date(1974, 9, 15), 'M40'),
 ('CS015414000103', datetime.date(1977, 8, 9), 'F40'),
 ('CS029403000008', datetime.date(1973, 8, 17), 'M40'),
 ('CS015804000004', datetime.date(1931, 5, 2), 'M60'),
 ('CS033513000180', datetime.date(1962, 7, 11), 'F50')]

---
> S-058: 顧客テーブル（customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに抽出せよ。結果は10件表示させれば良い。

In [651]:
%%sql
SELECT customer_id,
    CASE WHEN gender_cd = '0' THEN 1 ELSE 0 END AS 男性,
    CASE WHEN gender_cd = '1' THEN 1 ELSE 0 END AS 女性,
    CASE WHEN gender_cd = '9' THEN 1 ELSE 0 END AS 不明
FROM customer
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', 0, 1, 0),
 ('CS037613000071', 0, 0, 1),
 ('CS031415000172', 0, 1, 0),
 ('CS028811000001', 0, 1, 0),
 ('CS001215000145', 0, 1, 0),
 ('CS020401000016', 1, 0, 0),
 ('CS015414000103', 0, 1, 0),
 ('CS029403000008', 1, 0, 0),
 ('CS015804000004', 1, 0, 0),
 ('CS033513000180', 0, 1, 0)]

---
> S-059: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに表示せよ。標準化に使用する標準偏差は、不偏標準偏差と標本標準偏差のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [654]:
%%sql
-- 会員の合計金額テーブルを先に作成。
WITH mem_table AS (
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
)
SELECT customer_id, sum_amount, (sum_amount - average) / standard_dev AS 標準得点
-- 統計における標準化の一般式は、(元の値 - 平均値) / 標準偏差
FROM mem_table
-- 計算に利用するため、平均値・標準偏差をCROSS JOINでテーブルに付与
CROSS JOIN (SELECT AVG(sum_amount) AS average, STDDEV(sum_amount) AS standard_dev FROM mem_table) AS index
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 2302, Decimal('-0.09032402671702291270')),
 ('CS004614000122', 248, Decimal('-0.84528400025253654164')),
 ('CS003512000043', 298, Decimal('-0.82690620148098070841')),
 ('CS011615000061', 246, Decimal('-0.84601911220339877497')),
 ('CS029212000033', 3604, Decimal('0.38823385329429098451')),
 ('CS007515000119', 7157, Decimal('1.6941602340010485')),
 ('CS034515000123', 3699, Decimal('0.42315167096024706764')),
 ('CS004315000058', 490, Decimal('-0.75633545419820630882')),
 ('CS026414000014', 6671, Decimal('1.5155280299415258')),
 ('CS001615000099', 768, Decimal('-0.65415489302835587608'))]

---
> S-060: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [655]:
%%sql
WITH mem_table AS (
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
)
SELECT customer_id, sum_amount, CAST((sum_amount - minimum) AS numeric) / CAST((maximum - minimum) AS numeric) AS 正規化点数
-- integerからnumeric等へデータ型の変換が必要。
FROM mem_table
CROSS JOIN (SELECT MIN(sum_amount) AS minimum, MAX(sum_amount) AS maximum FROM mem_table) AS index
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 2302, Decimal('0.09697601668404588113')),
 ('CS004614000122', 248, Decimal('0.00773375043448036149')),
 ('CS003512000043', 298, Decimal('0.00990615224191866528')),
 ('CS011615000061', 246, Decimal('0.00764685436218282934')),
 ('CS029212000033', 3604, Decimal('0.15354535974973931178')),
 ('CS007515000119', 7157, Decimal('0.30791623218630517901')),
 ('CS034515000123', 3699, Decimal('0.15767292318387208898')),
 ('CS004315000058', 490, Decimal('0.01824817518248175182')),
 ('CS026414000014', 6671, Decimal('0.28680048661800486618')),
 ('CS001615000099', 768, Decimal('0.03032672923183872089'))]

---
> S-061: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [656]:
%%sql
SELECT customer_id, sum_amount, LOG(sum_amount)
FROM (
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
) AS mem_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 2302, 3.362105319293773),
 ('CS004614000122', 248, 2.3944516808262164),
 ('CS003512000043', 298, 2.4742162640762553),
 ('CS011615000061', 246, 2.3909351071033793),
 ('CS029212000033', 3604, 3.5567847823070253),
 ('CS007515000119', 7157, 3.8547310172139424),
 ('CS034515000123', 3699, 3.568084331315394),
 ('CS004315000058', 490, 2.690196080028514),
 ('CS026414000014', 6671, 3.824190940652583),
 ('CS001615000099', 768, 2.885361220031512)]

---
> S-062: レシート明細テーブル（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を自然対数化(底=e）して顧客ID、売上金額合計とともに表示せよ（ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること）。結果は10件表示させれば良い。

In [657]:
%%sql
SELECT customer_id, sum_amount, LN(sum_amount)
FROM (
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
) AS mem_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS001311000059', 2302, 7.741533589281828),
 ('CS004614000122', 248, 5.5134287461649825),
 ('CS003512000043', 298, 5.697093486505405),
 ('CS011615000061', 246, 5.5053315359323625),
 ('CS029212000033', 3604, 8.189799618728228),
 ('CS007515000119', 7157, 8.875846177738598),
 ('CS034515000123', 3699, 8.215817791832453),
 ('CS004315000058', 490, 6.194405391104672),
 ('CS026414000014', 6671, 8.805525052709516),
 ('CS001615000099', 768, 6.643789733147672)]

---
> S-063: 商品テーブル（product）の単価（unit_price）と原価（unit_cost）から、各商品の利益額を算出せよ。結果は10件表示させれば良い。

In [658]:
%%sql
SELECT product_cd, unit_price - unit_cost AS 利益額
FROM product
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', 49),
 ('P040101002', 54),
 ('P040101003', 57),
 ('P040101004', 62),
 ('P040101005', 67),
 ('P040101006', 74),
 ('P040101007', 84),
 ('P040101008', 105),
 ('P040101009', 124),
 ('P040101010', 145)]

---
> S-064: 商品テーブル（product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。 ただし、単価と原価にはNULLが存在することに注意せよ。

In [659]:
%%sql
SELECT CAST(SUM(unit_price - unit_cost) AS numeric) / CAST(SUM(unit_price) AS numeric) AS 平均利益率
FROM product
WHERE unit_price IS NOT NULL AND unit_cost IS NOT NULL

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(Decimal('0.24935966780792636459'),)]

---
> S-065: 商品テーブル（product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [660]:
%%sql
SELECT 
    product_cd, 
    TRUNC(unit_cost / 0.7, 0) AS 想定単価, 
    CAST(TRUNC(unit_cost / 0.7, 0) - unit_cost AS numeric) / CAST(TRUNC(unit_cost / 0.7, 0) AS numeric) AS 想定利益率
FROM product
WHERE unit_cost IS NOT NULL
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', Decimal('212'), Decimal('0.29716981132075471698')),
 ('P040101002', Decimal('234'), Decimal('0.29914529914529914530')),
 ('P040101003', Decimal('247'), Decimal('0.29959514170040485830')),
 ('P040101004', Decimal('265'), Decimal('0.29811320754716981132')),
 ('P040101005', Decimal('287'), Decimal('0.29965156794425087108')),
 ('P040101006', Decimal('320'), Decimal('0.30000000000000000000')),
 ('P040101007', Decimal('362'), Decimal('0.29834254143646408840')),
 ('P040101008', Decimal('450'), Decimal('0.30000000000000000000')),
 ('P040101009', Decimal('534'), Decimal('0.29962546816479400749')),
 ('P040101010', Decimal('621'), Decimal('0.29951690821256038647'))]

---
> S-066: 商品テーブル（product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を四捨五入すること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [661]:
%%sql
SELECT 
    product_cd, 
    ROUND(unit_cost / 0.7, 0) AS 想定単価, 
    CAST(ROUND(unit_cost / 0.7, 0) - unit_cost AS numeric) / CAST(ROUND(unit_cost / 0.7, 0) AS numeric) AS 想定利益率
FROM product
WHERE unit_cost IS NOT NULL
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', Decimal('213'), Decimal('0.30046948356807511737')),
 ('P040101002', Decimal('234'), Decimal('0.29914529914529914530')),
 ('P040101003', Decimal('247'), Decimal('0.29959514170040485830')),
 ('P040101004', Decimal('266'), Decimal('0.30075187969924812030')),
 ('P040101005', Decimal('287'), Decimal('0.29965156794425087108')),
 ('P040101006', Decimal('320'), Decimal('0.30000000000000000000')),
 ('P040101007', Decimal('363'), Decimal('0.30027548209366391185')),
 ('P040101008', Decimal('450'), Decimal('0.30000000000000000000')),
 ('P040101009', Decimal('534'), Decimal('0.29962546816479400749')),
 ('P040101010', Decimal('621'), Decimal('0.29951690821256038647'))]

---
> S-067: 商品テーブル（product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [246]:
%%sql
SELECT 
    product_cd, 
    suggested_price AS 想定単価,
    CAST(suggested_price - unit_cost AS numeric) / CAST(suggested_price AS numeric) AS 想定利益率
FROM (
    SELECT product_cd, unit_cost, 
    -- 小数点以下が0の場合のみ切り上げなし、それ以外は切り捨て後に+1することで切り上げを実装。
        CASE
            WHEN (unit_cost / 0.7) - TRUNC(unit_cost / 0.7, 0) = 0 THEN TRUNC(unit_cost / 0.7, 0)
        ELSE TRUNC(unit_cost / 0.7, 0) + 1 END AS suggested_price
    FROM product
    WHERE unit_cost IS NOT NULL
) AS suggested_price_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', Decimal('213'), Decimal('0.30046948356807511737')),
 ('P040101002', Decimal('235'), Decimal('0.30212765957446808511')),
 ('P040101003', Decimal('248'), Decimal('0.30241935483870967742')),
 ('P040101004', Decimal('266'), Decimal('0.30075187969924812030')),
 ('P040101005', Decimal('288'), Decimal('0.30208333333333333333')),
 ('P040101006', Decimal('320'), Decimal('0.30000000000000000000')),
 ('P040101007', Decimal('363'), Decimal('0.30027548209366391185')),
 ('P040101008', Decimal('450'), Decimal('0.30000000000000000000')),
 ('P040101009', Decimal('535'), Decimal('0.30093457943925233645')),
 ('P040101010', Decimal('622'), Decimal('0.30064308681672025723'))]

---
> S-068: 商品テーブル（product）の各商品について、消費税率10%の税込み金額を求めよ。 1円未満の端数は切り捨てとし、結果は10件表示すれば良い。ただし、単価（unit_price）にはNULLが存在することに注意せよ。

In [253]:
%%sql
SELECT product_cd, TRUNC(unit_price * 1.1, 0)
FROM product
WHERE unit_price IS NOT NULL
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', Decimal('217')),
 ('P040101002', Decimal('239')),
 ('P040101003', Decimal('253')),
 ('P040101004', Decimal('272')),
 ('P040101005', Decimal('294')),
 ('P040101006', Decimal('327')),
 ('P040101007', Decimal('371')),
 ('P040101008', Decimal('462')),
 ('P040101009', Decimal('547')),
 ('P040101010', Decimal('638'))]

---
> S-069: レシート明細テーブル（receipt）と商品テーブル（product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分"07"（瓶詰缶詰）の購入実績がある顧客のみとし、結果は10件表示させればよい。

In [663]:
%%sql
-- 先にWITH句にてカテゴリ07の合計金額と全体の合計金額を用意する。
WITH cat07customer_table AS(
        SELECT customer_id, SUM(amount) AS sum_cat07
        FROM receipt LEFT OUTER JOIN product ON receipt.product_cd = product.product_cd
        WHERE category_major_cd = '07'
        GROUP BY customer_id, category_major_cd
),
    allcustomer_table AS(
        SELECT customer_id, SUM(amount) AS sum_all
        FROM receipt
        GROUP BY customer_id
)
SELECT cat07customer_table.customer_id, sum_all, sum_cat07, CAST(sum_cat07 AS numeric) / CAST(sum_all AS numeric) AS "07_瓶詰缶詰の割合"
FROM cat07customer_table LEFT OUTER JOIN allcustomer_table 
ON cat07customer_table.customer_id = allcustomer_table.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS017513000024', 484, 98, Decimal('0.20247933884297520661')),
 ('CS012513000141', 1206, 272, Decimal('0.22553897180762852405')),
 ('CS027414000018', 3558, 1594, Decimal('0.44800449690837549185')),
 ('CS015415000080', 7685, 3069, Decimal('0.39934938191281717632')),
 ('CS029315000039', 2310, 2200, Decimal('0.95238095238095238095')),
 ('CS002415000454', 968, 378, Decimal('0.39049586776859504132')),
 ('CS032314000002', 3286, 1791, Decimal('0.54503956177723676202')),
 ('CS009515000147', 8364, 6007, Decimal('0.71819703491152558584')),
 ('CS018215000027', 5564, 3846, Decimal('0.69122933141624730410')),
 ('CS035315000141', 188, 100, Decimal('0.53191489361702127660'))]

---
> S-070: レシート明細テーブル（receipt）の売上日（sales_ymd）に対し、顧客テーブル（customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

In [664]:
%%sql
SELECT receipt.customer_id, sales_ymd, application_date,
    CAST(CAST(sales_ymd AS varchar) AS date) - CAST(application_date AS date) AS 経過日数
FROM receipt LEFT OUTER JOIN customer ON receipt.customer_id = customer.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS006214000001', 20181103, '20150201', 1371),
 ('CS008415000097', 20181118, '20150322', 1337),
 ('CS028414000014', 20170712, '20150711', 732),
 ('ZZ000000000000', 20190205, None, None),
 ('CS025415000050', 20180821, '20160131', 933),
 ('CS003515000195', 20190605, '20150306', 1552),
 ('CS024514000042', 20181205, '20151010', 1152),
 ('CS040415000178', 20190922, '20150627', 1548),
 ('ZZ000000000000', 20170504, None, None),
 ('CS027514000015', 20191010, '20151101', 1439)]

---
> S-071: レシート明細テーブル（receipt）の売上日（sales_ymd）に対し、顧客テーブル（customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

In [666]:
%%sql
SELECT receipt.customer_id, sales_ymd, application_date,
    --DATE_PARTの年数差*12したものにDATE_PARTの月数差を加え、経過月数を計算する。
    DATE_PART('year', AGE(CAST(CAST(sales_ymd AS varchar) AS date), CAST(application_date AS date))) * 12 
    + DATE_PART('month', AGE(CAST(CAST(sales_ymd AS varchar) AS date), CAST(application_date AS date))) AS 経過月数
FROM receipt LEFT OUTER JOIN customer ON receipt.customer_id = customer.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS006214000001', 20181103, '20150201', 45.0),
 ('CS008415000097', 20181118, '20150322', 43.0),
 ('CS028414000014', 20170712, '20150711', 24.0),
 ('ZZ000000000000', 20190205, None, None),
 ('CS025415000050', 20180821, '20160131', 30.0),
 ('CS003515000195', 20190605, '20150306', 50.0),
 ('CS024514000042', 20181205, '20151010', 37.0),
 ('CS040415000178', 20190922, '20150627', 50.0),
 ('ZZ000000000000', 20170504, None, None),
 ('CS027514000015', 20191010, '20151101', 47.0)]

---
> S-072: レシート明細テーブル（receipt）の売上日（sales_ymd）に対し、顧客テーブル（customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

In [667]:
%%sql
SELECT receipt.customer_id, sales_ymd, application_date,
    DATE_PART('year', AGE(CAST(CAST(sales_ymd AS varchar) AS date), CAST(application_date AS date))) AS 経過年数
FROM receipt LEFT OUTER JOIN customer ON receipt.customer_id = customer.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS006214000001', 20181103, '20150201', 3.0),
 ('CS008415000097', 20181118, '20150322', 3.0),
 ('CS028414000014', 20170712, '20150711', 2.0),
 ('ZZ000000000000', 20190205, None, None),
 ('CS025415000050', 20180821, '20160131', 2.0),
 ('CS003515000195', 20190605, '20150306', 4.0),
 ('CS024514000042', 20181205, '20151010', 3.0),
 ('CS040415000178', 20190922, '20150627', 4.0),
 ('ZZ000000000000', 20170504, None, None),
 ('CS027514000015', 20191010, '20151101', 3.0)]

---
> S-073: レシート明細テーブル（receipt）の売上日（sales_ymd）に対し、顧客テーブル（customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

In [668]:
%%sql
SELECT receipt.customer_id, sales_ymd, application_date,
    DATE_PART('epoch', AGE(CAST(CAST(sales_ymd AS varchar) AS date), CAST(application_date AS date))) AS 経過時間（エポック秒）
FROM receipt LEFT OUTER JOIN customer ON receipt.customer_id = customer.customer_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS006214000001', 20181103, '20150201', 118173600.0),
 ('CS008415000097', 20181118, '20150322', 115149600.0),
 ('CS028414000014', 20170712, '20150711', 63201600.0),
 ('ZZ000000000000', 20190205, None, None),
 ('CS025415000050', 20180821, '20160131', 80481600.0),
 ('CS003515000195', 20190605, '20150306', 134006400.0),
 ('CS024514000042', 20181205, '20151010', 99511200.0),
 ('CS040415000178', 20190922, '20150627', 133574400.0),
 ('ZZ000000000000', 20170504, None, None),
 ('CS027514000015', 20191010, '20151101', 123962400.0)]

---
> S-074: レシート明細テーブル（receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、当該週の月曜日付とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値でデータを保持している点に注意）。

In [670]:
%%sql
SELECT sales_ymd, sales_ymd - DOW_num AS 購入した週の月曜日, DOW_num AS 経過日数
FROM (
    SELECT sales_ymd, 
    -- DATE_PARTのdowは日曜起点のため、日曜は+7, その他は-1することで月曜起点に変換。また、varcharで出力される？のでintegerに変換。
        CAST(
            CASE WHEN DATE_PART('dow', CAST(CAST(sales_ymd AS varchar) AS date)) = 0 THEN 7
            ELSE DATE_PART('dow', CAST(CAST(sales_ymd AS varchar) AS date)) - 1 END 
            AS integer
        ) AS DOW_num
    FROM receipt
    ) AS dow_table
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[(20181103, 20181098, 5),
 (20181118, 20181111, 7),
 (20170712, 20170710, 2),
 (20190205, 20190204, 1),
 (20180821, 20180820, 1),
 (20190605, 20190603, 2),
 (20181205, 20181203, 2),
 (20190922, 20190915, 7),
 (20170504, 20170501, 3),
 (20191010, 20191007, 3)]

---
> S-075: 顧客テーブル（customer）からランダムに1%のデータを抽出し、先頭から10件データを抽出せよ。

In [671]:
%%sql
SELECT * FROM customer
WHERE customer_id IN (
    SELECT customer_id
    FROM (
        SELECT RANDOM() AS random_num, * FROM customer
    ) AS random_num_table
    WHERE random_num >= 0.99
)
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS040313000013', '五十嵐 美帆', '1', datetime.date(1980, 10, 7), 38, '226-0026', '神奈川県横浜市緑区長津田町**********', 'S14040', '20151029', '0-00000000-0'),
 ('CS004315000058', '宇多田 文世', '1', datetime.date(1984, 1, 28), 35, '165-0027', '東京都中野区野方**********', 'S13004', '20151101', '4-20080517-1'),
 ('CS023304000006', '黒木 聖陽', '0', datetime.date(1985, 5, 2), 33, '212-0006', '神奈川県川崎市幸区遠藤町**********', 'S14023', '20171004', '0-00000000-0'),
 ('CS019615000001', '藤川 花', '9', datetime.date(1955, 9, 23), 63, '176-0003', '東京都練馬区羽沢**********', 'S13019', '20150630', '0-00000000-0'),
 ('CS017613000127', '大後 結子', '1', datetime.date(1953, 5, 25), 65, '166-0000', '東京都杉並区**********', 'S13017', '20170308', '0-00000000-0'),
 ('CS032315000152', '板倉 貴美子', '1', datetime.date(1979, 4, 30), 39, '144-0055', '東京都大田区仲六郷**********', 'S13032', '20151112', '0-00000000-0'),
 ('CS037514000012', '秋本 康文', '9', datetime.date(1961, 8, 10), 57, '135-0016', '東京都江東区東陽**********', 'S13037', '20150413', '9-20100815-9'),
 ('CS039315000003', '春日 陽子', '1', datetime.date(1983, 6, 16), 35, '167-0032', '東京都杉並区天沼**********', 'S13039', '20150812', '6-20080924-4'),
 ('CS012513000141', '中田 文世', '1', datetime.date(1961, 10, 10), 57, '231-0844', '神奈川県横浜市中区西之谷町**********', 'S14012', '20150310', '7-20100322-9'),
 ('CS008613000035', '大河内 恵麻', '1', datetime.date(1954, 2, 1), 65, '157-0072', '東京都世田谷区祖師谷**********', 'S13008', '20150731', '0-00000000-0')]

---
> S-076:  顧客テーブル（customer）から性別（gender_cd）の割合に基づきランダムに10%のデータを層化抽出データし、性別ごとに件数を集計せよ。

In [8]:
%%sql
-- あらかじめRANDOMを持つテーブルを3つ用意する。
WITH 
    randum_num_table1 AS (SELECT RANDOM() AS random_num, customer_id, gender_cd FROM customer),
    randum_num_table2 AS (SELECT RANDOM() AS random_num, customer_id, gender_cd FROM customer),
    randum_num_table3 AS (SELECT RANDOM() AS random_num, customer_id, gender_cd FROM customer)
SELECT 
    SUM(CASE WHEN table1.random_num >= 0.9 AND table1.gender_cd = '0' THEN 1 ELSE 0 END) AS "男性_10%",
    SUM(CASE WHEN table2.random_num >= 0.9 AND table2.gender_cd = '1' THEN 1 ELSE 0 END) AS "女性_10%",
    SUM(CASE WHEN table3.random_num >= 0.9 AND table3.gender_cd = '9' THEN 1 ELSE 0 END) AS "不明_10%"
FROM randum_num_table1 table1 
INNER JOIN randum_num_table2 table2 ON table1.customer_id = table2.customer_id
INNER JOIN randum_num_table3 table3 ON table1.customer_id = table3.customer_id

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(299, 1812, 113)]

---
> S-077: レシート明細テーブル（receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を平均から3σ以上離れたものとする。結果は10件表示させれば良い。

In [9]:
%%sql
WITH mem_table AS (
    SELECT customer_id, SUM(amount) AS sum_amount FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
)
SELECT customer_id, sum_amount
FROM mem_table
CROSS JOIN (SELECT AVG(sum_amount) AS average, STDDEV(sum_amount) AS standard_dev FROM mem_table) AS index
WHERE sum_amount >= average + 3 * standard_dev OR sum_amount <= average - 3 * standard_dev
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021514000008', 12839),
 ('CS022515000065', 12903),
 ('CS007514000094', 15735),
 ('CS015515000034', 15300),
 ('CS026414000039', 12944),
 ('CS018414000065', 12313),
 ('CS011415000006', 16094),
 ('CS011414000012', 11432),
 ('CS021515000172', 13974),
 ('CS031414000028', 11743)]

---
> S-078: レシート明細テーブル（receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第一四分位と第三四分位の差であるIQRを用いて、「第一四分位数-1.5×IQR」よりも下回るもの、または「第三四分位数+1.5×IQR」を超えるものとする。結果は10件表示させれば良い。

In [10]:
%%sql
WITH mem_table AS (
    SELECT customer_id, SUM(amount) AS sum_amount FROM receipt
    WHERE customer_id !~ '^Z.*'
    GROUP BY customer_id
)
SELECT customer_id, sum_amount
FROM mem_table
CROSS JOIN (
    SELECT 
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY sum_amount) AS Q1,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY sum_amount) AS Q3
    FROM mem_table
) AS index
WHERE sum_amount >= (Q3 + 1.5 * (Q3 - Q1)) OR sum_amount <= (Q3 - 1.5 * (Q3 - Q1))
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS013415000226', 8362),
 ('CS011415000041', 9454),
 ('CS014514000004', 8872),
 ('CS021514000008', 12839),
 ('CS014515000007', 9763),
 ('CS040415000220', 10158),
 ('CS028415000161', 8465),
 ('CS034515000173', 10074),
 ('CS022515000065', 12903),
 ('CS007514000094', 15735)]

---
> S-079: 商品テーブル（product）の各項目に対し、欠損数を確認せよ。

In [11]:
%%sql
SELECT
    SUM(CASE WHEN product_cd IS NULL THEN 1 ELSE 0 END) AS product_code_NULL数,
    SUM(CASE WHEN category_major_cd IS NULL THEN 1 ELSE 0 END) AS category_major_cd_NULL数,
    SUM(CASE WHEN category_medium_cd IS NULL THEN 1 ELSE 0 END) AS category_medium_cd_NULL数,
    SUM(CASE WHEN category_small_cd IS NULL THEN 1 ELSE 0 END) AS category_small_cd_NULL数,
    SUM(CASE WHEN unit_price IS NULL THEN 1 ELSE 0 END) AS unit_price_NULL数,
    SUM(CASE WHEN unit_cost IS NULL THEN 1 ELSE 0 END) AS unit_cost_NULL数
FROM product

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(0, 0, 0, 0, 7, 7)]

---
> S-080: 商品テーブル（product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなproduct_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [360]:
%%sql
-- CREATE TABLE product_1 AS SELECT * FROM product
/*
DELETE FROM product_1
WHERE product_cd IS NULL
    OR category_major_cd IS NULL
    OR category_medium_cd IS NULL
    OR category_small_cd IS NULL
    OR unit_price IS NULL
    OR unit_cost IS NULL
*/

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(10023,)]

---
> S-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなproduct_2を作成せよ。なお、平均値について1円未満は四捨五入とする。補完実施後、各項目について欠損が生じていないことも確認すること。

In [373]:
%%sql
-- CREATE TABLE product_2 AS SELECT * FROM product
/*
UPDATE product_2 SET
    unit_price = (SELECT ROUND(AVG(unit_price), 0) FROM product_2 WHERE unit_price IS NOT NULL)
WHERE unit_price IS NULL
*/
/*
UPDATE product_2 SET
    unit_cost = (SELECT ROUND(AVG(unit_cost), 0) FROM product_2 WHERE unit_cost IS NOT NULL)
WHERE unit_cost IS NULL
*/

SELECT
    SUM(CASE WHEN unit_price IS NULL THEN 1 ELSE 0 END) AS unit_price_NULL数,
    SUM(CASE WHEN unit_cost IS NULL THEN 1 ELSE 0 END) AS unit_cost_NULL数
FROM product_2

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(0, 0)]

---
> S-082:  単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たなproduct_3を作成せよ。なお、中央値について1円未満は四捨五入とする。補完実施後、各項目について欠損が生じていないことも確認すること。

In [391]:
%%sql
-- CREATE TABLE product_3 AS SELECT * FROM product
/*
UPDATE product_3 SET
    unit_price = (SELECT ROUND(CAST(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY unit_price) AS numeric), 0) FROM product_3 WHERE unit_price IS NOT NULL)
WHERE unit_price IS NULL
*/
/*
UPDATE product_3 SET
    unit_cost = (SELECT ROUND(CAST(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY unit_cost) AS numeric), 0) FROM product_3 WHERE unit_cost IS NOT NULL)
WHERE unit_cost IS NULL
*/

SELECT
    SUM(CASE WHEN unit_price IS NULL THEN 1 ELSE 0 END) AS unit_price_NULL数,
    SUM(CASE WHEN unit_cost IS NULL THEN 1 ELSE 0 END) AS unit_cost_NULL数
FROM product_3

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(0, 0)]

---
> S-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品の小区分（category_small_cd）ごとに算出した中央値で補完した新たなproduct_4を作成せよ。なお、中央値について1円未満は四捨五入とする。補完実施後、各項目について欠損が生じていないことも確認すること。

In [415]:
%%sql
-- CREATE TABLE product_4 AS SELECT * FROM product
/*
UPDATE product_4 SET
unit_price = median_up_table.median_unit_price
FROM (
    SELECT 
        category_small_cd AS median_scd, 
        ROUND(CAST(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY unit_price) AS numeric), 0) AS median_unit_price
    FROM product_4
    GROUP BY category_small_cd
) AS median_up_table
WHERE unit_price IS NULL AND category_small_cd = median_scd
*/
/*
UPDATE product_4 SET
unit_cost = median_uc_table.median_unit_cost
FROM (
    SELECT 
        category_small_cd AS median_scd, 
        ROUND(CAST(PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY unit_cost) AS numeric), 0) AS median_unit_cost
    FROM product_4
    GROUP BY category_small_cd
) AS median_uc_table
WHERE unit_cost IS NULL AND category_small_cd = median_scd
*/
SELECT
    SUM(CASE WHEN unit_price IS NULL THEN 1 ELSE 0 END) AS unit_price_NULL数,
    SUM(CASE WHEN unit_cost IS NULL THEN 1 ELSE 0 END) AS unit_cost_NULL数
FROM product_4

 * postgresql://padawan:***@db:5432/dsdojo_db
1 rows affected.

[(0, 0)]

---
> S-084: 顧客テーブル（customer）の全顧客に対し、全期間の売上金額に占める2019年売上金額の割合を計算せよ。ただし、販売実績のない場合は0として扱うこと。そして計算した割合が0超のものを抽出せよ。 結果は10件表示させれば良い。

In [13]:
%%sql
SELECT customer.customer_id, CAST(amount_2019 AS numeric)/ CAST(sum_amount AS numeric) AS "2019年売上金額の割合"
FROM customer
INNER JOIN (
        SELECT customer_id, SUM(amount) AS sum_amount FROM receipt GROUP BY customer_id
    ) AS sum_amount_table
    ON customer.customer_id = sum_amount_table.customer_id
INNER JOIN (
        SELECT customer_id, SUM(amount) AS amount_2019 FROM receipt GROUP BY customer_id, LEFT(CAST(sales_ymd AS varchar), 4)
    ) AS amount_2019_table
    ON customer.customer_id = amount_2019_table.customer_id
WHERE CAST(amount_2019 AS numeric)/ CAST(sum_amount AS numeric) > 0
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS014515000113', Decimal('0.49046321525885558583')),
 ('CS010415000255', Decimal('0.68803687408338571129')),
 ('CS023514000032', Decimal('0.19893292682926829268')),
 ('CS034515000077', Decimal('0.34115805946791862285')),
 ('CS032615000029', Decimal('1.00000000000000000000')),
 ('CS024415000152', Decimal('0.83312577833125778331')),
 ('CS005514000148', Decimal('1.00000000000000000000')),
 ('CS035215000028', Decimal('0.67799309795593310327')),
 ('CS020415000153', Decimal('0.62631935702527355476')),
 ('CS040415000070', Decimal('0.53670530382859149982'))]

---
> S-085: 顧客テーブル（customer）の全顧客に対し、郵便番号（postal_cd）を用いて経度緯度変換用テーブル（geocode）を紐付け、新たなcustomer_1を作成せよ。ただし、複数紐づく場合は経度（longitude）、緯度（latitude）それぞれ平均を算出すること。

In [17]:
%%sql
/*
CREATE TABLE customer_1 AS (
    SELECT 
        customer.*,
        avg_longitude AS longitude,
        avg_latitude AS latitude
    FROM customer
    LEFT OUTER JOIN (
        SELECT postal_cd, AVG(longitude) AS avg_longitude, AVG(latitude) AS avg_latitude
        FROM geocode
        GROUP BY postal_cd
    ) AS fixed_geocode
    ON customer.postal_cd = fixed_geocode.postal_cd
)
*/

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS037613000071', '六角 雅彦', '9', datetime.date(1952, 4, 1), 66, '136-0076', '東京都江東区南砂**********', 'S13037', '20150414', '0-00000000-0', Decimal('139.8350200000000000'), Decimal('35.6719300000000000')),
 ('CS031415000172', '宇多田 貴美子', '1', datetime.date(1976, 10, 4), 42, '151-0053', '東京都渋谷区代々木**********', 'S13031', '20150529', 'D-20100325-C', Decimal('139.6896500000000000'), Decimal('35.6737400000000000')),
 ('CS028811000001', '堀井 かおり', '1', datetime.date(1933, 3, 27), 86, '245-0016', '神奈川県横浜市泉区和泉町**********', 'S14028', '20160115', '0-00000000-0', Decimal('139.4836000000000000'), Decimal('35.3912500000000000')),
 ('CS001215000145', '田崎 美紀', '1', datetime.date(1995, 3, 29), 24, '144-0055', '東京都大田区仲六郷**********', 'S13001', '20170605', '6-20090929-2', Decimal('139.7077500000000000'), Decimal('35.5408400000000000')),
 ('CS015414000103', '奥野 陽子', '1', datetime.date(1977, 8, 9), 41, '136-0073', '東京都江東区北砂**********', 'S13015', '20150722', 'B-20100609-B', Decimal('139.8360100000000000'), Decimal('35.6781800000000000')),
 ('CS015804000004', '松谷 米蔵', '0', datetime.date(1931, 5, 2), 87, '136-0073', '東京都江東区北砂**********', 'S13015', '20150607', '0-00000000-0', Decimal('139.8360100000000000'), Decimal('35.6781800000000000')),
 ('CS007403000016', '依田 満', '0', datetime.date(1975, 8, 18), 43, '276-0022', '千葉県八千代市上高野**********', 'S12007', '20150914', '0-00000000-0', Decimal('140.1326000000000000'), Decimal('35.7326400000000000')),
 ('CS035614000014', '板倉 菜々美', '1', datetime.date(1954, 7, 16), 64, '154-0015', '東京都世田谷区桜新町**********', 'S13035', '20150804', '0-00000000-0', Decimal('139.6429700000000000'), Decimal('35.6288900000000000')),
 ('CS011215000048', '芦田 沙耶', '1', datetime.date(1992, 2, 1), 27, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150228', 'C-20100421-9', Decimal('139.6294600000000000'), Decimal('35.5537000000000000')),
 ('CS040412000191', '川井 郁恵', '1', datetime.date(1977, 1, 5), 42, '226-0021', '神奈川県横浜市緑区北八朔町**********', 'S14040', '20151101', '1-20091025-4', Decimal('139.5396400000000000'), Decimal('35.5276300000000000'))]

---
> S-086: 前設問で作成した緯度経度つき顧客テーブル（customer_1）に対し、申込み店舗コード（application_store_cd）をキーに店舗テーブル（store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客の緯度・経度を用いて距離（km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示すれば良い。

$$
緯度（ラジアン）：\phi \\
経度（ラジアン）：\lambda \\
距離L = 6371 * arccos(sin \phi_1 * sin \phi_2
+ cos \phi_1 * cos \phi_2 * cos(\lambda_1 − \lambda_2))
$$

In [19]:
%%sql
SELECT 
    customer_id, 
    customer_1.address, 
    store.address, 
    6371 * ACOS(SIN(RADIANS(customer_1.latitude)) * SIN(RADIANS(store.latitude)) + COS(RADIANS(customer_1.latitude)) * COS(RADIANS(store.latitude)) * COS(RADIANS(customer_1.longitude) - RADIANS(store.longitude))) AS "距離(km)"
FROM customer_1 
LEFT OUTER JOIN store ON customer_1.application_store_cd = store.store_cd
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS037613000071', '東京都江東区南砂**********', '東京都江東区南砂一丁目', 1.4511822099658445),
 ('CS031415000172', '東京都渋谷区代々木**********', '東京都渋谷区初台二丁目', 0.4117334789298223),
 ('CS028811000001', '神奈川県横浜市泉区和泉町**********', '神奈川県横浜市瀬谷区二ツ橋町', 8.065196026704987),
 ('CS001215000145', '東京都大田区仲六郷**********', '東京都大田区仲六郷二丁目', 1.2684209720729687),
 ('CS015414000103', '東京都江東区北砂**********', '東京都江東区南砂二丁目', 1.449673414532165),
 ('CS015804000004', '東京都江東区北砂**********', '東京都江東区南砂二丁目', 1.449673414532165),
 ('CS007403000016', '千葉県八千代市上高野**********', '千葉県佐倉市上志津', 1.9208032538419055),
 ('CS035614000014', '東京都世田谷区桜新町**********', '東京都世田谷区用賀四丁目', 1.0214681484997588),
 ('CS011215000048', '神奈川県横浜市港北区日吉本町**********', '神奈川県横浜市港北区日吉本町四丁目', 0.8182767808775093),
 ('CS040412000191', '神奈川県横浜市緑区北八朔町**********', '神奈川県横浜市緑区長津田みなみ台五丁目', 3.6641233580823287)]

---
> S-087: 顧客テーブル（customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなし、1顧客1レコードとなるように名寄せした名寄顧客テーブル（customer_u）を作成せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残すものとし、売上金額合計が同一もしくは売上実績の無い顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

In [464]:
%%sql
CREATE TABLE customer_u AS (
    SELECT 
        MIN(customer_id) AS customer_id, 
        sum_fixed_customer.customer_name, 
        MIN(gender_cd) AS gender_cd, 
        MIN(gender) AS gender, 
        MIN(birth_day) AS birth_day, 
        MIN(age) AS age,
        sum_fixed_customer.postal_cd,
        MIN(address) AS address,
        MIN(application_store_cd) AS application_store_cd,
        MIN(application_date) AS application_date,
        MIN(status_cd) AS status_cd,
        MIN(max_amount)
    FROM (
        SELECT * FROM customer
        LEFT OUTER JOIN (SELECT customer_id AS cid, SUM(amount) AS sum_amount FROM receipt GROUP BY customer_id) AS sum_amount_table
        ON customer.customer_id = sum_amount_table.cid    
    ) AS sum_fixed_customer
    LEFT OUTER JOIN (
        SELECT customer_name, postal_cd, MAX(sum_amount) AS max_amount
        FROM (
            SELECT * FROM customer
            LEFT OUTER JOIN (SELECT customer_id AS cid, SUM(amount) AS sum_amount FROM receipt GROUP BY customer_id) AS sum_amount_table
            ON customer.customer_id = sum_amount_table.cid
        ) AS sum_fixed_customer2
        GROUP BY customer_name, postal_cd
    ) AS max_fixed_customer
    ON sum_fixed_customer.customer_name = max_fixed_customer.customer_name
    AND sum_fixed_customer.postal_cd = max_fixed_customer.postal_cd
    WHERE sum_amount = max_amount OR sum_amount IS NULL
    GROUP BY sum_fixed_customer.customer_name, sum_fixed_customer.postal_cd
)

 * postgresql://padawan:***@db:5432/dsdojo_db
21941 rows affected.

[]

---
> S-088: 前設問で作成したデータを元に、顧客テーブルに統合名寄IDを付与したテーブル（customer_n）を作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
>- 重複していない顧客：顧客ID（customer_id）を設定
>- 重複している顧客：前設問で抽出したレコードの顧客IDを設定

In [21]:
%%sql
CREATE TABLE customer_n AS (
    SELECT customer_id_n, customer.*
    FROM customer
    LEFT OUTER JOIN (SELECT customer_id AS customer_id_n, customer_name AS u_name, postal_cd AS u_pcode FROM customer_u) AS c_u
    ON customer.customer_name = u_name AND customer.postal_cd = u_pcode
)

 * postgresql://padawan:***@db:5432/dsdojo_db
21971 rows affected.

[]

---
> S-089: 売上実績のある顧客に対し、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムに分割し、テーブルを作成せよ。

In [486]:
%%sql
/*
CREATE TABLE testtable_customer_n AS (
    SELECT * FROM customer_n
    WHERE customer_id IN (
            SELECT customer_id 
            FROM (
                    SELECT RANDOM() AS random_num, customer_id
                    FROM customer_n
                    WHERE customer_id IN (SELECT customer_id FROM receipt)
            ) AS for_testtable
            WHERE random_num < 0.2
        )
)
*/
/*
CREATE TABLE learntable_customer_n AS (
    SELECT * FROM (
        SELECT customer_id FROM customer_n WHERE customer_id IN (SELECT customer_id FROM receipt)
    ) AS shopped_member
    WHERE customer_id NOT IN (SELECT customer_id FROM testtable_customer_n)
)
*/

 * postgresql://padawan:***@db:5432/dsdojo_db
6574 rows affected.

[]

---
> S-090: レシート明細テーブル（receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月のモデル構築用データを3テーブルとしてセット作成せよ。データの持ち方は自由とする。

In [532]:
%%sql

/*
CREATE TABLE learntable_monthly_amount AS (
    SELECT sales_ym, sum_amount, test_num1, test_num2, test_num3
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY LEFT(CAST(sales_ymd AS varchar), 6)) AS row_num, LEFT(CAST(sales_ymd AS varchar), 6) AS sales_ym, SUM(amount) AS sum_amount
        FROM receipt
        GROUP BY LEFT(CAST(sales_ymd AS varchar), 6)
    ) AS monthly_amount
    CROSS JOIN (
        SELECT 
            TRUNC(CAST(RANDOM() AS numeric) * 23, 0) + 1 AS learn_num, 
            TRUNC(CAST(RANDOM() AS numeric) * 29, 0) + 1 AS test_num1, 
            TRUNC(CAST(RANDOM() AS numeric) * 29, 0) + 1 AS test_num2, 
            TRUNC(CAST(RANDOM() AS numeric) * 29, 0) + 1 AS test_num3
    )AS random_num
    WHERE row_num BETWEEN learn_num AND learn_num + 11
)
*/
/*
CREATE TABLE testtable1_monthly_amount AS (
    SELECT sales_ym, sum_amount
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY LEFT(CAST(sales_ymd AS varchar), 6)) AS row_num, LEFT(CAST(sales_ymd AS varchar), 6) AS sales_ym, SUM(amount) AS sum_amount
        FROM receipt
        GROUP BY LEFT(CAST(sales_ymd AS varchar), 6)
    ) AS monthly_amount
    WHERE row_num BETWEEN (SELECT MIN(test_num1) FROM learntable_monthly_amount) AND (SELECT MIN(test_num1) FROM learntable_monthly_amount) + 5
)
*/
/*
CREATE TABLE testtable2_monthly_amount AS (
    SELECT sales_ym, sum_amount
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY LEFT(CAST(sales_ymd AS varchar), 6)) AS row_num, LEFT(CAST(sales_ymd AS varchar), 6) AS sales_ym, SUM(amount) AS sum_amount
        FROM receipt
        GROUP BY LEFT(CAST(sales_ymd AS varchar), 6)
    ) AS monthly_amount
    WHERE row_num BETWEEN (SELECT MIN(test_num2) FROM learntable_monthly_amount) AND (SELECT MIN(test_num2) FROM learntable_monthly_amount) + 5
)
*/
/*
CREATE TABLE testtable3_monthly_amount AS (
    SELECT sales_ym, sum_amount
    FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY LEFT(CAST(sales_ymd AS varchar), 6)) AS row_num, LEFT(CAST(sales_ymd AS varchar), 6) AS sales_ym, SUM(amount) AS sum_amount
        FROM receipt
        GROUP BY LEFT(CAST(sales_ymd AS varchar), 6)
    ) AS monthly_amount
    WHERE row_num BETWEEN (SELECT MIN(test_num3) FROM learntable_monthly_amount) AND (SELECT MIN(test_num3) FROM learntable_monthly_amount) + 5
)
*/
-- ALTER TABLE learntable_monthly_amount DROP test_num1, DROP test_num2, DROP test_num3

 * postgresql://padawan:***@db:5432/dsdojo_db
Done.

[]

---
> S-091: 顧客テーブル（customer）の各顧客に対し、売上実績のある顧客数と売上実績のない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

In [560]:
%%sql
WITH shopped_member_1percent AS (
    SELECT customer_id
    FROM (
        SELECT RANDOM() AS random_num1, customer_id
        FROM customer
        WHERE customer_id IN (SELECT customer_id FROM receipt)
    ) AS shopped_mem
    WHERE random_num1 > 0.99
),
not_shopped_member AS (
    SELECT ROW_NUMBER() OVER (ORDER BY random_num2) AS row_num, customer_id
    FROM (
        SELECT RANDOM() AS random_num2, customer_id 
        FROM customer
        WHERE customer_id NOT IN (SELECT customer_id FROM receipt)
    ) AS not_shopped_mem
)
SELECT * FROM customer
WHERE customer_id IN (SELECT customer_id FROM shopped_member_1percent)
OR customer_id IN (
    SELECT customer_id FROM not_shopped_member
    WHERE row_num <= (SELECT COUNT(*) FROM shopped_member_1percent)
)

 * postgresql://padawan:***@db:5432/dsdojo_db
170 rows affected.

[('CS001715000106', '内田 薫', '1', '女性', datetime.date(1943, 8, 5), 75, '146-0095', '東京都大田区多摩川**********', 'S13001', '20160317', '0-00000000-0'),
 ('CS017414000093', '佐々木 涼', '1', '女性', datetime.date(1973, 11, 17), 45, '166-0011', '東京都杉並区梅里**********', 'S13017', '20160129', 'D-20101006-D'),
 ('CS009415000117', '川口 綾女', '1', '女性', datetime.date(1969, 10, 24), 49, '154-0014', '東京都世田谷区新町**********', 'S13009', '20150719', 'F-20101021-F'),
 ('CS025411000053', '田村 ちえみ', '1', '女性', datetime.date(1972, 10, 8), 46, '242-0011', '神奈川県大和市深見**********', 'S14025', '20160112', '4-20100127-4'),
 ('CS001304000018', '杉本 人志', '0', '男性', datetime.date(1979, 6, 1), 39, '144-0055', '東京都大田区仲六郷**********', 'S13001', '20170522', '3-20100212-2'),
 ('CS037513000041', '松田 エリカ', '1', '女性', datetime.date(1965, 11, 12), 53, '136-0075', '東京都江東区新砂**********', 'S13037', '20150623', '0-00000000-0'),
 ('CS005412000190', '相原 法子', '1', '女性', datetime.date(1977, 11, 26), 41, '177-0041', '東京都練馬区石神井町**********', 'S13005', '20150215', '7-20081027-8'),
 ('CS001512000310', '本間 薫', '1', '女性', datetime.date(1967, 4, 28), 51, '210-0804', '神奈川県川崎市川崎区藤崎**********', 'S13001', '20161221', '0-00000000-0'),
 ('CS017412000019', '菊地 恵麻', '1', '女性', datetime.date(1969, 4, 8), 49, '167-0032', '東京都杉並区天沼**********', 'S13017', '20150205', '5-20081027-3'),
 ('CS043413000016', '松原 咲', '1', '女性', datetime.date(1971, 1, 21), 48, '140-0004', '東京都品川区南品川**********', 'S13043', '20151120', '4-20091025-4'),
 ('CS014613000090', '大谷 倫子', '1', '女性', datetime.date(1957, 3, 4), 62, '263-0014', '千葉県千葉市稲毛区作草部町**********', 'S12014', '20150314', '0-00000000-0'),
 ('CS029514000059', '三輪 美佐', '1', '女性', datetime.date(1966, 6, 13), 52, '279-0004', '千葉県浦安市猫実**********', 'S12029', '20150211', 'F-20100913-D'),
 ('CS003612000273', '米谷 愛', '1', '女性', datetime.date(1954, 9, 29), 64, '201-0012', '東京都狛江市中和泉**********', 'S13003', '20170223', '0-00000000-0'),
 ('CS030515000053', '倉本 遥', '1', '女性', datetime.date(1966, 11, 10), 52, '272-0825', '千葉県市川市須和田**********', 'S12030', '20151219', 'B-20100831-C'),
 ('CS018812000016', '宇野 莉緒', '1', '女性', datetime.date(1934, 2, 24), 85, '204-0012', '東京都清瀬市中清戸**********', 'S13018', '20160506', '0-00000000-0'),
 ('CS032613000113', '西井 遥', '1', '女性', datetime.date(1954, 8, 25), 64, '144-0054', '東京都大田区新蒲田**********', 'S13032', '20150205', '0-00000000-0'),
 ('CS037215000064', '菅谷 京子', '1', '女性', datetime.date(1989, 6, 27), 29, '136-0072', '東京都江東区大島**********', 'S13037', '20160413', '6-20101008-9'),
 ('CS001313000376', '井田 瞳', '1', '女性', datetime.date(1980, 3, 9), 39, '144-0055', '東京都大田区仲六郷**********', 'S13001', '20170709', '0-00000000-0'),
 ('CS032512000056', '平尾 沙知絵', '1', '女性', datetime.date(1960, 7, 26), 58, '212-0054', '神奈川県川崎市幸区小倉**********', 'S13032', '20150511', '6-20100103-9'),
 ('CS010415000147', '山上 咲', '1', '女性', datetime.date(1972, 6, 10), 46, '222-0011', '神奈川県横浜市港北区菊名**********', 'S14010', '20150312', 'E-20100323-E'),
 ('CS032515000156', '北田 めぐみ', '1', '女性', datetime.date(1960, 10, 27), 58, '144-0055', '東京都大田区仲六郷**********', 'S13032', '20150601', 'C-20101018-B'),
 ('CS022715000023', '小野田 あや子', '1', '女性', datetime.date(1947, 3, 9), 72, '240-0113', '神奈川県三浦郡葉山町長柄**********', 'S14022', '20160114', '0-00000000-0'),
 ('CS020612000102', '柴山 ひろみ', '1', '女性', datetime.date(1957, 1, 20), 62, '174-0071', '東京都板橋区常盤台**********', 'S13020', '20150929', '0-00000000-0'),
 ('CS009613000077', '富岡 涼', '1', '女性', datetime.date(1972, 5, 3), 46, '240-0113', '神奈川県三浦郡葉山町長柄**********', 'S13009', '20151219', '0-00000000-0'),
 ('CS003515000554', '美木 恵梨香', '1', '女性', datetime.date(1960, 5, 13), 58, '182-0022', '東京都調布市国領町**********', 'S13003', '20170520', '5-20091115-2'),
 ('CS005415000086', '河野 亜希', '1', '女性', datetime.date(1975, 2, 1), 44, '165-0033', '東京都中野区若宮**********', 'S13005', '20150907', 'C-20100508-C'),
 ('CS028315000014', '大原 遥', '1', '女性', datetime.date(1986, 7, 4), 32, '246-0032', '神奈川県横浜市瀬谷区南台**********', 'S14028', '20150520', '0-00000000-0'),
 ('CS004613000229', '松居 優', '1', '女性', datetime.date(1957, 3, 19), 62, '176-0025', '東京都練馬区中村南**********', 'S13004', '20160505', '0-00000000-0'),
 ('CS028613000053', '多部 しほり', '1', '女性', datetime.date(1953, 8, 25), 65, '241-0825', '神奈川県横浜市旭区中希望が丘**********', 'S14028', '20150916', '0-00000000-0'),
 ('CS001515000497', '原 ヒカル', '1', '女性', datetime.date(1961, 1, 12), 58, '144-0051', '東京都大田区西蒲田**********', 'S13001', '20160726', '8-20100804-B'),
 ('CS001512000348', '五大 由樹', '1', '女性', datetime.date(1961, 3, 19), 58, '210-0015', '神奈川県川崎市川崎区南町**********', 'S13001', '20160628', '0-00000000-0'),
 ('CS002511000086', '山田 さやか', '1', '女性', datetime.date(1965, 11, 16), 53, '189-0013', '東京都東村山市栄町**********', 'S13002', '20161115', '0-00000000-0'),
 ('CS024415000076', '石倉 芽以', '1', '女性', datetime.date(1969, 8, 13), 49, '214-0035', '神奈川県川崎市多摩区長沢**********', 'S14024', '20150419', 'B-20100515-D'),
 ('CS015712000016', '荒井 しぼり', '1', '女性', datetime.date(1944, 5, 25), 74, '136-0072', '東京都江東区大島**********', 'S13015', '20150311', '0-00000000-0'),
 ('CS017413000188', '宮下 郁恵', '1', '女性', datetime.date(1972, 9, 8), 46, '166-0015', '東京都杉並区成田東**********', 'S13017', '20150603', '2-20100214-3'),
 ('CS028415000007', '紺野 あい', '1', '女性', datetime.date(1969, 7, 28), 49, '246-0023', '神奈川県横浜市瀬谷区阿久和東**********', 'S14028', '20151212', 'F-20100922-F'),
 ('CS015412000031', '倉田 怜奈', '1', '女性', datetime.date(1976, 5, 2), 42, '136-0073', '東京都江東区北砂**********', 'S13015', '20150911', '0-00000000-0'),
 ('CS031713000005', '高橋 ケンイチ', '9', '不明', datetime.date(1945, 2, 9), 74, '151-0072', '東京都渋谷区幡ヶ谷**********', 'S13031', '20150506', '0-00000000-0'),
 ('CS040415000250', '金田 遥', '1', '女性', datetime.date(1974, 9, 5), 44, '226-0018', '神奈川県横浜市緑区長津田みなみ台**********', 'S14040', '20150919', 'B-20090319-C'),
 ('CS039212000001', '長野 さとみ', '1', '女性', datetime.date(1996, 1, 18), 23, '157-0065', '東京都世田谷区上祖師谷**********', 'S13039', '20151103', '6-20090525-9'),
 ('CS016415000170', '菊地 美智子', '1', '女性', datetime.date(1972, 1, 4), 47, '184-0004', '東京都小金井市本町**********', 'S13016', '20150906', 'D-20100519-E'),
 ('CS001702000006', '染谷 公顕', '0', '男性', datetime.date(1941, 5, 18), 77, '212-0011', '神奈川県川崎市幸区幸町**********', 'S13001', '20151114', '0-00000000-0'),
 ('CS005311000001', '田崎 遥', '1', '女性', datetime.date(1983, 9, 13), 35, '177-0044', '東京都練馬区上石神井**********', 'S13005', '20150206', 'A-20100514-1'),
 ('CS040513000096', '豊島 美佐子', '1', '女性', datetime.date(1961, 2, 12), 58, '226-0018', '神奈川県横浜市緑区長津田みなみ台**********', 'S14040', '20150806', '7-20100307-6'),
 ('CS037601000002', '今泉 龍吉', '0', '男性', datetime.date(1952, 6, 15), 66, '136-0071', '東京都江東区亀戸**********', 'S13037', '20150815', '0-00000000-0'),
 ('CS004414000171', '山上 理紗', '1', '女性', datetime.date(1971, 8, 8), 47, '176-0024', '東京都練馬区中村**********', 'S13004', '20160911', 'D-20101028-B'),
 ('CS012513000238', '田崎 彩', '1', '女性', datetime.date(1964, 12, 23), 54, '231-0865', '神奈川県横浜市中区北方町**********', 'S14012', '20160905', '0-00000000-0'),
 ('CS026512000023', '広田 沙耶', '1', '女性', datetime.date(1962, 9, 9), 56, '253-0002', '神奈川県茅ヶ崎市高田**********', 'S14026', '20160312', '4-20080902-5'),
 ('CS049605000005', '黒木 慎之介', '0', '男性', datetime.date(1952, 2, 7), 67, '210-0802', '神奈川県川崎市川崎区大師駅前**********', 'S14049', '20180215', '9-20100917-6'),
 ('CS037414000074', '河野 結子', '1', '女性', datetime.date(1970, 9, 15), 48, '135-0023', '東京都江東区平野**********', 'S13037', '20150315', 'E-20100508-F'),
 ('CS017415000220', '菅谷 美嘉', '1', '女性', datetime.date(1971, 1, 11), 48, '166-0001', '東京都杉並区阿佐谷北**********', 'S13017', '20150428', '9-20100325-9'),
 ('CS037613000145', '上原 季衣', '1', '女性', datetime.date(1957, 3, 18), 62, '136-0076', '東京都江東区南砂**********', 'S13037', '20160619', '0-00000000-0'),
 ('CS001512000525', '大野 恭子', '1', '女性', datetime.date(1961, 2, 10), 58, '212-0058', '神奈川県川崎市幸区鹿島田**********', 'S13001', '20161225', '0-00000000-0'),
 ('CS015313000082', '山上 友以乃', '1', '女性', datetime.date(1986, 12, 8), 32, '136-0073', '東京都江東区北砂**********', 'S13015', '20150509', '0-00000000-0'),
 ('CS035415000037', '奥野 茜', '1', '女性', datetime.date(1972, 11, 2), 46, '154-0015', '東京都世田谷区桜新町**********', 'S13035', '20150522', 'F-20100915-F'),
 ('CS011315000065', '長浜 まひる', '1', '女性', datetime.date(1983, 11, 13), 35, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150612', '0-00000000-0'),
 ('CS002415000515', '松田 遥', '1', '女性', datetime.date(1970, 6, 2), 48, '185-0014', '東京都国分寺市東恋ケ窪**********', 'S13002', '20160927', '4-20100422-7'),
 ('CS002514000122', '大塚 路子', '1', '女性', datetime.date(1965, 8, 1), 53, '185-0013', '東京都国分寺市西恋ケ窪**********', 'S13002', '20161211', '4-20100509-2'),
 ('CS049613000006', '高嶋 怜奈', '1', '女性', datetime.date(1949, 8, 15), 69, '210-0812', '神奈川県川崎市川崎区東門前**********', 'S14049', '20180712', '5-20100802-4'),
 ('CS002503000134', '松下 和之', '0', '男性', datetime.date(1966, 8, 5), 52, '184-0015', '東京都小金井市貫井北町**********', 'S13002', '20171121', '0-00000000-0'),
 ('CS004715000078', '倉本 優', '1', '女性', datetime.date(1941, 3, 24), 78, '176-0025', '東京都練馬区中村南**********', 'S13004', '20160731', '0-00000000-0'),
 ('CS002515000195', '高倉 さとみ', '1', '女性', datetime.date(1964, 11, 15), 54, '184-0015', '東京都小金井市貫井北町**********', 'S13002', '20150902', '9-20100724-B'),
 ('CS024512000109', '原口 小百合', '1', '女性', datetime.date(1964, 4, 26), 54, '216-0031', '神奈川県川崎市宮前区神木本町**********', 'S14024', '20151022', '0-00000000-0'),
 ('CS014415000201', '坂下 れいな', '1', '女性', datetime.date(1972, 6, 16), 46, '263-0016', '千葉県千葉市稲毛区天台**********', 'S12014', '20150411', 'F-20100918-F'),
 ('CS009513000148', '宮脇 恭子', '1', '女性', datetime.date(1960, 12, 31), 58, '158-0095', '東京都世田谷区瀬田**********', 'S13009', '20141105', '4-20080826-2'),
 ('CS015203000004', '沖 雄太', '0', '男性', datetime.date(1994, 5, 9), 24, '135-0015', '東京都江東区千石**********', 'S13015', '20160218', '0-00000000-0'),
 ('CS001413000427', '大後 春樹', '1', '女性', datetime.date(1972, 8, 30), 46, '144-0056', '東京都大田区西六郷**********', 'S13001', '20160621', '5-20100221-7'),
 ('CS010413000231', '馬場 沙知絵', '1', '女性', datetime.date(1974, 11, 19), 44, '222-0032', '神奈川県横浜市港北区大豆戸町**********', 'S14010', '20150625', '0-00000000-0'),
 ('CS031215000010', '大山 ちえみ', '1', '女性', datetime.date(1993, 7, 28), 25, '160-0023', '東京都新宿区西新宿**********', 'S13031', '20150506', '9-20100323-C'),
 ('CS025315000027', '黒谷 陽子', '1', '女性', datetime.date(1980, 1, 25), 39, '242-0024', '神奈川県大和市福田**********', 'S14025', '20150906', '0-00000000-0'),
 ('CS042414000026', '井田 菜々美', '1', '女性', datetime.date(1969, 5, 10), 49, '231-0802', '神奈川県横浜市中区小港町**********', 'S14042', '20180821', '0-00000000-0'),
 ('CS037802000007', '三枝 雅彦', '0', '男性', datetime.date(1929, 5, 24), 89, '136-0072', '東京都江東区大島**********', 'S13037', '20170601', '0-00000000-0'),
 ('CS052603000002', '堀 広司', '0', '男性', datetime.date(1954, 4, 22), 64, '194-0032', '東京都町田市本町田**********', 'S13052', '20181217', '0-00000000-0'),
 ('CS004315000525', '高松 ひろみ', '1', '女性', datetime.date(1981, 1, 11), 38, '165-0027', '東京都中野区野方**********', 'S13004', '20171121', '4-20100423-1'),
 ('CS024312000022', '三輪 瞳', '1', '女性', datetime.date(1981, 2, 13), 38, '216-0015', '神奈川県川崎市宮前区菅生**********', 'S14024', '20150924', '0-00000000-0'),
 ('CS007412000080', '須藤 薫', '1', '女性', datetime.date(1975, 10, 30), 43, '276-0023', '千葉県八千代市勝田台**********', 'S12007', '20150413', '0-00000000-0'),
 ('CS016515000035', '影山 さゆり', '1', '女性', datetime.date(1959, 7, 22), 59, '184-0011', '東京都小金井市東町**********', 'S13016', '20150705', 'B-20100724-9'),
 ('CS021312000137', '会田 美菜', '1', '女性', datetime.date(1983, 8, 2), 35, '259-1147', '神奈川県伊勢原市白根**********', 'S14021', '20150311', '0-00000000-0'),
 ('CS003313000106', '小柳 さとみ', '1', '女性', datetime.date(1984, 12, 27), 34, '182-0022', '東京都調布市国領町**********', 'S13003', '20160405', '0-00000000-0'),
 ('CS040412000066', '芦田 みあ', '1', '女性', datetime.date(1974, 6, 18), 44, '226-0021', '神奈川県横浜市緑区北八朔町**********', 'S14040', '20150813', '0-00000000-0'),
 ('CS022613000080', '奥 咲', '1', '女性', datetime.date(1957, 1, 8), 62, '249-0006', '神奈川県逗子市逗子**********', 'S14022', '20150316', '8-20100705-9'),
 ('CS005314000087', '松居 芽以', '1', '女性', datetime.date(1986, 1, 17), 33, '167-0033', '東京都杉並区清水**********', 'S13005', '20171007', '4-20091020-1'),
 ('CS016212000007', '板垣 真奈美', '1', '女性', datetime.date(1995, 3, 8), 24, '180-0021', '東京都武蔵野市桜堤**********', 'S13016', '20150622', '4-20090405-3'),
 ('CS002715000196', '喜多 かおり', '1', '女性', datetime.date(1944, 8, 9), 74, '184-0014', '東京都小金井市貫井南町**********', 'S13002', '20170414', '0-00000000-0'),
 ('CS012713000024', '山崎 しほり', '1', '女性', datetime.date(1943, 7, 11), 75, '231-0864', '神奈川県横浜市中区千代崎町**********', 'S14012', '20150323', '0-00000000-0'),
 ('CS003614000055', '伊集院 優一', '9', '不明', datetime.date(1956, 2, 17), 63, '201-0003', '東京都狛江市和泉本町**********', 'S13003', '20150717', '2-20091207-1'),
 ('CS038512000135', '尾崎 奈央', '1', '女性', datetime.date(1961, 6, 26), 57, '134-0088', '東京都江戸川区西葛西**********', 'S13038', '20151124', '5-20090802-4'),
 ('CS012215000014', '石黒 由樹', '1', '女性', datetime.date(1995, 5, 7), 23, '231-0836', '神奈川県横浜市中区根岸町**********', 'S14012', '20150228', '0-00000000-0'),
 ('CS039413000301', '葛西 咲', '1', '女性', datetime.date(1975, 11, 5), 43, '166-0016', '東京都杉並区成田西**********', 'S13039', '20160412', '0-00000000-0'),
 ('CS038713000079', '河原 貴美子', '1', '女性', datetime.date(1947, 4, 12), 71, '134-0084', '東京都江戸川区東葛西**********', 'S13038', '20180217', '0-00000000-0'),
 ('CS040411000053', 'おかやま 紗季', '1', '女性', datetime.date(1972, 7, 16), 46, '246-0003', '神奈川県横浜市瀬谷区瀬谷町**********', 'S14040', '20150613', '7-20100609-6'),
 ('CS032412000048', '西川 優', '1', '女性', datetime.date(1978, 4, 1), 40, '212-0058', '神奈川県川崎市幸区鹿島田**********', 'S13032', '20150514', '3-20090927-5'),
 ('CS038414000028', '田崎 美佐', '1', '女性', datetime.date(1976, 10, 8), 42, '134-0084', '東京都江戸川区東葛西**********', 'S13038', '20150604', 'F-20100504-F'),
 ('CS039315000108', '真田 りえ', '1', '女性', datetime.date(1985, 4, 28), 33, '168-0081', '東京都杉並区宮前**********', 'S13039', '20151010', '8-20091016-6'),
 ('CS040602000032', '川西 獅童', '0', '男性', datetime.date(1950, 4, 17), 68, '226-0026', '神奈川県横浜市緑区長津田町**********', 'S14040', '20151013', '0-00000000-0'),
 ('CS009513000157', '森下 麻由子', '1', '女性', datetime.date(1960, 1, 20), 59, '158-0098', '東京都世田谷区上用賀**********', 'S13009', '20150306', 'D-20100614-C'),
 ('CS017712000062', '小山 璃子', '1', '女性', datetime.date(1947, 7, 8), 71, '166-0000', '東京都杉並区**********', 'S13017', '20160617', '0-00000000-0'),
 ('CS035414000024', '杉原 愛梨', '1', '女性', datetime.date(1975, 11, 19), 43, '158-0097', '東京都世田谷区用賀**********', 'S13035', '20150427', 'F-20100814-F'),
 ('CS002514000021', '青木 華子', '1', '女性', datetime.date(1965, 11, 21), 53, '185-0014', '東京都国分寺市東恋ケ窪**********', 'S13002', '20150205', '3-20100228-2'),
 ('CS032713000014', '水谷 早紀', '1', '女性', datetime.date(1941, 5, 21), 77, '144-0055', '東京都大田区仲六郷**********', 'S13032', '20151225', '0-00000000-0'),
 ('CS003512000287', '宮脇 沙知絵', '1', '女性', datetime.date(1967, 5, 2), 51, '214-0021', '神奈川県川崎市多摩区宿河原**********', 'S13003', '20160519', '0-00000000-0'),
 ('CS003502000057', '椎名 佑', '0', '男性', datetime.date(1967, 6, 13), 51, '201-0016', '東京都狛江市駒井町**********', 'S13003', '20161123', '0-00000000-0'),
 ('CS030715000035', '内村 沙知絵', '9', '不明', datetime.date(1948, 2, 1), 71, '272-0035', '千葉県市川市新田**********', 'S12030', '20150203', '0-00000000-0'),
 ('CS033304000004', '安永 雅彦', '0', '男性', datetime.date(1983, 12, 15), 35, '246-0023', '神奈川県横浜市瀬谷区阿久和東**********', 'S14033', '20141210', '9-20101019-9'),
 ('CS005414000250', '桜田 ケンイチ', '9', '不明', datetime.date(1976, 1, 1), 43, '167-0033', '東京都杉並区清水**********', 'S13005', '20170305', '6-20100304-8'),
 ('CS032413000245', '坂口 友以乃', '1', '女性', datetime.date(1970, 12, 23), 48, '144-0055', '東京都大田区仲六郷**********', 'S13032', '20151005', '4-20100418-5'),
 ('CS030412000203', '藤沢 はるみ', '1', '女性', datetime.date(1972, 12, 23), 46, '273-0033', '千葉県船橋市本郷町**********', 'S12030', '20150918', '2-20100321-5'),
 ('CS004415000459', '金井 璃子', '1', '女性', datetime.date(1976, 12, 2), 42, '176-0014', '東京都練馬区豊玉南**********', 'S13004', '20160403', '9-20100608-B'),
 ('CS015513000088', '大崎 恵麻', '1', '女性', datetime.date(1960, 4, 9), 58, '135-0015', '東京都江東区千石**********', 'S13015', '20141113', '3-20090531-3'),
 ('CS024314000048', '藤山 翔子', '1', '女性', datetime.date(1987, 5, 26), 31, '214-0035', '神奈川県川崎市多摩区長沢**********', 'S14024', '20151017', '1-20100219-4'),
 ('CS030312000139', '野崎 しぼり', '9', '不明', datetime.date(1987, 4, 24), 31, '273-0036', '千葉県船橋市東中山**********', 'S12030', '20180329', '0-00000000-0'),
 ('CS012204000001', '山田 健', '0', '男性', datetime.date(1995, 5, 10), 23, '231-0802', '神奈川県横浜市中区小港町**********', 'S14012', '20140916', 'A-20100518-A'),
 ('CS011513000139', '荒井 ひろみ', '1', '女性', datetime.date(1960, 6, 8), 58, '223-0062', '神奈川県横浜市港北区日吉本町**********', 'S14011', '20150618', '1-20080707-3'),
 ('CS024515000158', '玉城 美里', '1', '女性', datetime.date(1961, 9, 22), 57, '214-0036', '神奈川県川崎市多摩区南生田**********', 'S14024', '20150302', '8-20091115-A'),
 ('CS008212000026', '菊地 倫子', '1', '女性', datetime.date(1991, 8, 27), 27, '213-0031', '神奈川県川崎市高津区宇奈根**********', 'S13008', '20151101', '0-00000000-0'),
 ('CS012715000017', '皆川 路子', '1', '女性', datetime.date(1939, 8, 1), 79, '231-0846', '神奈川県横浜市中区大和町**********', 'S14012', '20150226', '0-00000000-0'),
 ('CS013415000053', '森山 まひる', '1', '女性', datetime.date(1973, 1, 26), 46, '261-0026', '千葉県千葉市美浜区幕張西**********', 'S12013', '20150731', 'F-20100615-D'),
 ('CS039414000142', '松原 恭子', '1', '女性', datetime.date(1975, 6, 30), 43, '167-0052', '東京都杉並区南荻窪**********', 'S13039', '20180502', '0-00000000-0'),
 ('CS006315000013', '黒崎 真希', '1', '女性', datetime.date(1986, 10, 29), 32, '224-0006', '神奈川県横浜市都筑区荏田東**********', 'S14006', '20150110', '0-00000000-0'),
 ('CS039313000181', '高倉 真帆', '1', '女性', datetime.date(1986, 3, 8), 33, '168-0081', '東京都杉並区宮前**********', 'S13039', '20180506', '0-00000000-0'),
 ('CS008513000253', '羽田 ちえみ', '1', '女性', datetime.date(1964, 10, 31), 54, '157-0066', '東京都世田谷区成城**********', 'S13008', '20161112', '4-20100308-1'),
 ('CS026502000045', '臼井 満', '0', '男性', datetime.date(1963, 7, 5), 55, '253-0053', '神奈川県茅ヶ崎市東海岸北**********', 'S14026', '20141129', '0-00000000-0'),
 ('CS035414000040', '亀山 しほり', '1', '女性', datetime.date(1969, 9, 22), 49, '158-0097', '東京都世田谷区用賀**********', 'S13035', '20150501', 'F-20100330-E'),
 ('CS033313000119', '門脇 あさみ', '1', '女性', datetime.date(1983, 10, 4), 35, '246-0025', '神奈川県横浜市瀬谷区阿久和西**********', 'S14033', '20150920', '0-00000000-0'),
 ('CS016802000002', '中原 秀隆', '0', '男性', datetime.date(1937, 2, 3), 82, '187-0043', '東京都小平市学園東町**********', 'S13016', '20160115', '2-20090330-3'),
 ('CS039813000008', '中井 ひろみ', '1', '女性', datetime.date(1931, 10, 3), 87, '167-0033', '東京都杉並区清水**********', 'S13039', '20151024', '0-00000000-0'),
 ('CS005311000009', '宮地 知世', '1', '女性', datetime.date(1982, 12, 5), 36, '177-0041', '東京都練馬区石神井町**********', 'S13005', '20150514', '5-20080308-1'),
 ('CS002513000395', '原 小百合', '1', '女性', datetime.date(1967, 7, 21), 51, '185-0013', '東京都国分寺市西恋ケ窪**********', 'S13002', '20160805', '0-00000000-0'),
 ('CS007203000001', '長谷 徹', '0', '男性', datetime.date(1989, 11, 23), 29, '285-0845', '千葉県佐倉市西志津**********', 'S12007', '20150625', '0-00000000-0'),
 ('CS010512000114', '生瀬 紗季', '1', '女性', datetime.date(1959, 5, 26), 59, '222-0032', '神奈川県横浜市港北区大豆戸町**********', 'S14010', '20141106', '0-00000000-0'),
 ('CS001514000067', '奥野 恭子', '1', '女性', datetime.date(1960, 1, 20), 59, '144-0045', '東京都大田区南六郷**********', 'S13001', '20150207', 'B-20090126-A'),
 ('CS023615000002', '荒井 恵子', '1', '女性', datetime.date(1954, 3, 5), 65, '210-0023', '神奈川県川崎市川崎区小川町**********', 'S14023', '20150913', '0-00000000-0'),
 ('CS031312000087', '石倉 恵麻', '1', '女性', datetime.date(1986, 10, 13), 32, '150-0034', '東京都渋谷区代官山町**********', 'S13031', '20150306', '0-00000000-0'),
 ('CS005412000315', '堀越 遥', '1', '女性', datetime.date(1969, 2, 12), 50, '177-0044', '東京都練馬区上石神井**********', 'S13005', '20171101', '0-00000000-0'),
 ('CS001411000050', '大崎 優', '1', '女性', datetime.date(1973, 6, 10), 45, '212-0026', '神奈川県川崎市幸区紺屋町**********', 'S13001', '20150505', '0-00000000-0'),

---
> S-092: 顧客テーブル（customer）では、性別に関する情報が非正規化の状態で保持されている。これを第三正規化せよ。

In [568]:
%%sql
/*
CREATE TABLE gender (
    gender_cd integer,
    gender char(2)
)
*/
-- INSERT INTO gender VALUES (0, '男性'), (1, '女性'), (9, '不明')
-- ALTER TABLE customer DROP COLUMN gender

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('CS021313000114', '大野 あや子', '1', datetime.date(1981, 4, 29), 37, '259-1113', '神奈川県伊勢原市粟窪**********', 'S14021', '20150905', '0-00000000-0'),
 ('CS037613000071', '六角 雅彦', '9', datetime.date(1952, 4, 1), 66, '136-0076', '東京都江東区南砂**********', 'S13037', '20150414', '0-00000000-0'),
 ('CS031415000172', '宇多田 貴美子', '1', datetime.date(1976, 10, 4), 42, '151-0053', '東京都渋谷区代々木**********', 'S13031', '20150529', 'D-20100325-C'),
 ('CS028811000001', '堀井 かおり', '1', datetime.date(1933, 3, 27), 86, '245-0016', '神奈川県横浜市泉区和泉町**********', 'S14028', '20160115', '0-00000000-0'),
 ('CS001215000145', '田崎 美紀', '1', datetime.date(1995, 3, 29), 24, '144-0055', '東京都大田区仲六郷**********', 'S13001', '20170605', '6-20090929-2'),
 ('CS020401000016', '宮下 達士', '0', datetime.date(1974, 9, 15), 44, '174-0065', '東京都板橋区若木**********', 'S13020', '20150225', '0-00000000-0'),
 ('CS015414000103', '奥野 陽子', '1', datetime.date(1977, 8, 9), 41, '136-0073', '東京都江東区北砂**********', 'S13015', '20150722', 'B-20100609-B'),
 ('CS029403000008', '釈 人志', '0', datetime.date(1973, 8, 17), 45, '279-0003', '千葉県浦安市海楽**********', 'S12029', '20150515', '0-00000000-0'),
 ('CS015804000004', '松谷 米蔵', '0', datetime.date(1931, 5, 2), 87, '136-0073', '東京都江東区北砂**********', 'S13015', '20150607', '0-00000000-0'),
 ('CS033513000180', '安斎 遥', '1', datetime.date(1962, 7, 11), 56, '241-0823', '神奈川県横浜市旭区善部町**********', 'S14033', '20150728', '6-20080506-5')]

---
> S-093: 商品テーブル（product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリテーブル（category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品テーブルを作成せよ。

In [589]:
%%sql
/*
CREATE TABLE product_withname AS (
    SELECT product_cd, product.category_major_cd, category_major_name, product.category_medium_cd, category_medium_name,
    product.category_small_cd, category_small_name, unit_price, unit_cost
    FROM product LEFT OUTER JOIN category ON product.category_small_cd = category.category_small_cd
)
*/

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 198, 149),
 ('P040101002', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 218, 164),
 ('P040101003', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 230, 173),
 ('P040101004', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 248, 186),
 ('P040101005', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 268, 201),
 ('P040101006', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 298, 224),
 ('P040101007', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 338, 254),
 ('P040101008', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 420, 315),
 ('P040101009', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 498, 374),
 ('P040101010', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 580, 435)]

---
> S-094: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。出力先のパスは'/tmp/data'を指定することでJupyterの/'work/data'と共有されるようになっている。なお、COPYコマンドの権限は付与済みである。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [603]:
%%sql
COPY product_withname TO '/tmp/data/product1.csv' WITH CSV HEADER ENCODING 'UTF8' DELIMITER ','

 * postgresql://padawan:***@db:5432/dsdojo_db
10030 rows affected.

[]

---
> S-095: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。出力先のパスは'/tmp/data'を指定することでJupyterの/'work/data'と共有されるようになっている。なお、COPYコマンドの権限は付与済みである。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはSJIS

In [579]:
%%sql
COPY product_withname TO '/tmp/data/product2.csv' WITH CSV HEADER ENCODING 'SJIS' DELIMITER ','

 * postgresql://padawan:***@db:5432/dsdojo_db
10030 rows affected.

[]

---
> S-096: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。出力先のパスは'/tmp/data'を指定することでJupyterの/'work/data'と共有されるようになっている。なお、COPYコマンドの権限は付与済みである。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

In [582]:
%%sql
COPY product_withname TO '/tmp/data/product3.csv' WITH CSV ENCODING 'UTF8' DELIMITER ','

 * postgresql://padawan:***@db:5432/dsdojo_db
10030 rows affected.

[]

---
> S-097: 先に作成した以下形式のファイルを読み込み、テーブルを作成せよ。また、先頭3件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [596]:
%%sql
-- CREATE TABLE product1 AS SELECT * FROM product_withname
-- TRUNCATE TABLE product1
-- COPY product1 FROM '/tmp/data/product1.csv' WITH CSV HEADER ENCODING 'UTF8' DELIMITER ','
SELECT * FROM product1 LIMIT 3

 * postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('P040101001', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 198, 149),
 ('P040101002', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 218, 164),
 ('P040101003', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 230, 173)]

---
> S-098: 先に作成した以下形式のファイルを読み込み、テーブルを作成せよ。また、先頭3件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

In [600]:
%%sql
-- CREATE TABLE product3 AS SELECT * FROM product_withname
-- TRUNCATE TABLE product3
-- COPY product3 FROM '/tmp/data/product3.csv' WITH CSV ENCODING 'UTF8' DELIMITER ','
SELECT * FROM product3 LIMIT 3

 * postgresql://padawan:***@db:5432/dsdojo_db
3 rows affected.

[('P040101001', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 198, 149),
 ('P040101002', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 218, 164),
 ('P040101003', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 230, 173)]

---
> S-099: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。出力先のパスは'/tmp/data'を指定することでJupyterの/'work/data'と共有されるようになっている。なお、COPYコマンドの権限は付与済みである。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [604]:
%%sql
COPY product_withname TO '/tmp/data/product4.csv' WITH CSV HEADER ENCODING 'UTF8' DELIMITER E'\t'

 * postgresql://padawan:***@db:5432/dsdojo_db
10030 rows affected.

[]

---
> S-100: 先に作成した以下形式のファイルを読み込み、テーブルを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

In [608]:
%%sql
-- CREATE TABLE product4 AS SELECT * FROM product_withname
-- TRUNCATE TABLE product4
-- COPY product4 FROM '/tmp/data/product4.csv' WITH CSV HEADER ENCODING 'UTF8' DELIMITER E'\t'
-- SELECT * FROM product4 LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('P040101001', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 198, 149),
 ('P040101002', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 218, 164),
 ('P040101003', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 230, 173),
 ('P040101004', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 248, 186),
 ('P040101005', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 268, 201),
 ('P040101006', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 298, 224),
 ('P040101007', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 338, 254),
 ('P040101008', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 420, 315),
 ('P040101009', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 498, 374),
 ('P040101010', '04', '惣菜', '0401', '御飯類', '040101', '弁当類', 580, 435)]

# これで１００本終わりです。おつかれさまでした！